[2016-10-26 03:52] OzNetNerd opened #41 "Difference between Start and Record Start?"
Hi there,

I've recently started looking into Ansible and in the process came across your project. I'd love to contribute once I get up and running. In the meantime I've been going through some of the code and was wondering what is the difference between "Start" and "Record Start", e.g as seen in the [cisco_ios_show_cdp_neighbors_detail.template](https://github.com/networktocode/ntc-templates/blob

[2016-10-26 07:09] GGabriele commented on #41
Hi,
`Record Start` is not one full "action", but you can see it like the action `Record` + the state `Start`. This means that if something matches `^${SOFTWARE_VERSION}` it will be recorded before to get back to the `Start` state.

[2016-10-31 01:05] OzNetNerd commented on #41
Thank you for the response. It appears that I'm misunderstanding the code. According to the [documentation](https://github.com/google/textfsm/wiki/TextFSM),  "The FSM starts in state Start, so this label is mandatory and the template will not parse without it".

Q1) Can you explain why it is necessary for the CDP code to have three 'Start' states?

Q2) Why does the GetVersion state transition have

[2016-10-31 09:01] GGabriele commented on #41
Actually, the CDP code doesn't have three 'Start' states, but only one.

The Start state is this:

[code]

Other lines like the following represent a State **transition**, so that if a match is found the computation goes to the specified state.

[code]

That said, in this particular case I think it's not *necessary* to have multiple states, but it often helps to make the code cleaner. Other times

[2016-11-10 05:18] OzNetNerd commented on #41
Thanks for the input Gabriele.

I'd love to contribute to this project but unfortunately I've got no FSM experience so your post above doesn't make a whole lot of sense to me. For example, why is a state change required? Is it necessary in order to perform a record?

 I'll continue studying  and am sure I'll get there. If you've got any suggested readings/documents which you think would assist me

[2016-11-10 07:38] GGabriele commented on #41
The nice thing about projects like this is that you only need to clone the repo to start testing and learning on your own :)

A state transition is not generally necessary in order to perform a record, but sometime it's needed. It all depends on what you want/have to parse.
Since you're just starting, I'd go with something easy. You can try to re-write some existing templates and compare outcomes

[2016-11-10 07:55] GGabriele commented on #41
Also, feel free to access the networking centric Slack team here: http://slack.networktocode.com/
You can ask whatever question you have there and get a pretty fast response from a pool of more than 1300 netengs :)

[2016-11-11 10:11] GGabriele commented on #41
@OzNetNerd  do you think we can close this? Feel free to re-open or ask on Slack if you need more guidance :)

[2016-11-17 02:48] OzNetNerd commented on #41
@GGabriele, that sounds like a great idea. Let's proceed with the closure of this issue and talk further on Slack instead.

[2016-11-17 02:48] #41 closed

[2016-11-24 10:46] Rashmi-Nuviso opened #46 "Need an info"
Hi Jason

any idea how do we parse the Build from the CISCO show version command ?
Any help on this would be greatly appreciated .

because
My template has the content below

Value Model (\S+)
Value Uptime (.*)
Value sn (.*)
Value OS (\S+)
Value build (\(.*)\)
Value version (\d+\.\d+(.+).*)

Start
  ^Cisco IOS Software.*Software ${build},
  ^.*uptime is ${Uptime}
  ^cisco ${Model} .*
  ^Processor

[2016-11-24 10:48] GGabriele commented on #46
Hi @Rashmi-Nuviso , can you post your raw file as well?

[2016-11-24 12:10] Rashmi-Nuviso commented on #46
Closing this  as i have found the solution after several retries

here is my template and the solution :)

Value Model (\S+)
Value Uptime (.*)
Value sn (.*)
Value OS (\S+)
Value build (\(.*)\)
Value version (\S+)
Value hostname (.*)

Start
  ^Cisco IOS Software.*Software ${build},\s+Version\s+${version}
  ^${hostname}\s+uptime\s+is\s+${Uptime}
  ^cisco ${Model} .*
  ^Processor board ID ${sn}
  ^RO

[2016-11-27 16:14] Rashmi-Nuviso commented on #46
Hi Gabriele,

Any idea on how do we parse the uneven number of records?

I have tried to check the other templates to span the diffrent rows in
output

I  could end up with the below template .

 i need a help on the following .

How do we parse the show_platform_diag command output

I have tried to parse it like below

Value Ct (.*)
Value Slotno ((.*)[A-Z]\d+(.*))
Value rs (.+)
Value is (.+)
Valu

[2016-11-29 11:16] Rashmi-Nuviso opened #47 "need a help on escaping the parenthesis"
Hi All ,

can anybody help me how do i escape the paranthesis

my requirement is to pull the X86_64_LINUX_IOSD-UNIVERSALK9-M

from the build from the cisco show version output

Cisco IOS Software, CSR1000V Software (X86_64_LINUX_IOSD-UNIVERSALK9-M),

since textfsm has the definition where most of the pattern we want to fetch it needs to be grouped

if i try like

pattern = ((.*)) to extract the (X

[2016-11-29 12:35] GGabriele commented on #47
Hi,
you can escape parenthesis with a `\`. Your pattern would be `pattern = (\(.*\))`

[2016-11-29 14:26] itdependsnetworks commented on #47
I would have the outside `()` escaped and not in the capture group and label it a different variable. That being said, it will be easiest to see the full output.

[2016-11-29 16:03] Rashmi-Nuviso opened #48 "Need help on parsing the show platform diag output"
[code]
[show_platform-diag.txt](https://github.com/networktocode/ntc-templates/files/619596/show_platform-diag.txt)

[2016-11-29 16:15] Rashmi-Nuviso commented on #47
pasting the solution suggested by Ken here for others who are  would like pull the build X86_64_LINUX_IOSD-UNIVERSALK9-M  from the  line

Cisco IOS Software, CSR1000V Software (X86_64_LINUX_IOSD-UNIVERSALK9-M), Version 15.5(3)S2, RELEASE SOFTWARE (fc2)

of the  show version command

`^.*Software\s.*\(${BUILD}\),\sVersion\s${VERSION},*\s+RELEASE.*`

Closing this issue .

Thanks Ken :)

[2016-11-29 16:16] #47 closed

[2016-11-29 16:17] Rashmi-Nuviso commented on #46
`Closing this  as well  as there is new issue on this `

[2016-11-29 16:17] #46 closed

[2016-12-08 18:13] sjtarik opened #52 "ios show standby brief active/standby state"
To handle IP addresses, I think active/standby fields should be \S instead of \w.

Value ACTIVE (\S+)
Value STANDBY (\S+)

Interface   Grp  Pri P State   Active          Standby         Virtual IP
Vl1111        200   150 P Standby 133.33.16.2     local           133.33.16.1
Vl1112       300   150 P Standby 132.31.16.32   local           132.31.16.33

[2016-12-12 18:53] itdependsnetworks commented on #48
Should be able to close based on: https://github.com/networktocode/ntc-templates/pull/55

[2016-12-12 22:27] #52 closed

[2016-12-12 22:53] #48 closed

[2016-12-16 15:37] nncse opened #57 "arista route template"
Hi,

I noticed that there is no arista_eos_show_ip_route.template entry and I tried to create one but unsuccessful. Has anyone done this before and please advise on what I am missing or doing wrong?
When the playbook is run, there are no results. Without the template, doing a "show ip route" shows the routes just not in structured format. Below is the config and the results.

Thanks in advance!

E

[2016-12-16 16:09] sjtarik commented on #57
Please check this wiki on how to parse a multiline [records](https://github.com/google/textfsm/wiki/Code-Lab). This page has a pretty good example on how to parse cisco show ip route as well which should be pretty similar to Arista. I think multi line records and IP pattern in template causing the issues.

[2016-12-16 22:20] sjtarik opened #58 "nxos show lldp neighbors failing when there is hostname is long"
When hostname is long, lldp record becomes two lines as follows:

[code]

[2016-12-16 23:05] sjtarik opened #59 "ios show mac address-table"
Checking the implementation and the variety of output on ios devices, I collect these three types of output for the same command. Can we discuss how to handle all these under single template?

Legend: * - primary entry
        age - seconds since last seen
        n/a - not available

  vlan   mac address     type    learn     age              ports
------+----------------+--------+-----+---------

[2016-12-18 01:02] itdependsnetworks commented on #57
@nncse can you please provide a few examples of the show ip route data from an arista?

[2016-12-18 17:44] itdependsnetworks commented on #59
@sjtarik can you provide examples of your show mac address-table?

[2016-12-19 21:00] nncse commented on #57
Thanks itdependnetworks! Below is a snapshot of the routing table from an Arista box.

Codes: C - connected, S - static, K - kernel,
       O - OSPF, IA - OSPF inter area, E1 - OSPF external type 1,
       E2 - OSPF external type 2, N1 - OSPF NSSA external type 1,
       N2 - OSPF NSSA external type2, B I - iBGP, B E - eBGP,
       R - RIP, I - ISIS, A B - BGP Aggregate, A O - OSPF Summary,

[2016-12-19 21:34] itdependsnetworks commented on #57
Doesn't look too bad. If I get a chance tonight I'll knock it out.

[2016-12-20 04:50] itdependsnetworks commented on #57
Let me know if this works for you, if it does I will put in a PR to have it added.

[code]

[2016-12-20 13:07] GGabriele commented on #58
Hi @sjtarik , I've just updated the template via #61 . It will fix this problem.

[2016-12-20 14:27] nncse commented on #57
Thanks! Just a quick question, even though I did not try to run it yet, should variable { PROTOCOL } be listed as "Value PROTOCOL (\S+) before it can be used?

[2016-12-20 14:46] itdependsnetworks commented on #57
oops, a bad copy paste job, updated. (note: you can't have \`\`\` on same line as first line.)

[2016-12-20 15:48] nncse commented on #57
Thanks! I tried and still the same results. Also, this is how the index file looks like for the arista eos route template.

arista_eos_show_ip_route.template, .*, arista_eos, sh[[ow]] i[[p]] ro[[ute]]

[2016-12-20 18:43] itdependsnetworks commented on #57
Seems to work for me
playbook:
[code]
result

[code]

[2016-12-20 19:05] nncse commented on #57
Without this entry on the index file (arista_eos_show_ip_route.template, .*, arista_eos, sh[[ow]] i[[p]] ro[[ute]]), doing a "show ip route" shows the routes just not in structured format. When I put it back in, it only displays...

TASK [GET ROUTES] **************************************************************
ok: [a7124]

TASK [debug] ************************************************************

[2016-12-20 19:17] itdependsnetworks commented on #57
Can you put your output within blocks of code: e.g.
\`\`\`
bunch of code
...
\`\`\`

I can't make out if that brackets is in your index file or not. It's working for me so I suspect something else. Can you also statically define your `template_dir` directory?

[2016-12-20 19:27] nncse commented on #57
TASK [GET ROUTES] **************************************************************
ok: [a7124]

TASK [debug] *******************************************************************
ok: [a7124] => {
    "route_eos": {
        "changed": false,
        "response": [],
        "response_list": []
    }
}

PLAY RECAP *********************************************************************
a7124

[2016-12-20 19:28] itdependsnetworks commented on #57
Please see previous note about formatting. For instance it seems like there is no ident between ntc_show_command and the next line, but I can't tell.

[2016-12-20 19:42] nncse commented on #57
[code]
PLAY RECAP *********************************************************************
a7124 : ok=2 changed=0 unreachable=0 failed=0
[code]

Entry in the index file
[code]

[2016-12-20 19:46] itdependsnetworks commented on #57
just guessing here. remove file and quote "arista_eos"
Can also join slack to communicate: https://networktocode.herokuapp.com/

[2016-12-20 20:08] jedelman8 commented on #57
@nncse can you try another command like `show vlan` or `show interfaces` ?

Can you also try putting your new line as the first line in the index file?

[2016-12-20 20:19] nncse commented on #57
I did a ```show ip arp``` and it works.

[code]

I put the route template on this first line on the index file and still the same.

[2016-12-20 20:43] nncse commented on #57
I tried to change the index entry for eos route and now I am getting traceback errors.
[code]

[2016-12-20 20:49] itdependsnetworks commented on #57
can you double check the spelling of the .template file?

[2016-12-20 20:52] nncse commented on #57
[code]

[2016-12-20 21:16] jedelman8 commented on #57
This error is better...can you now how the full contents of the template file?

[2016-12-20 21:25] nncse commented on #57
[code]

[2016-12-20 21:44] jedelman8 commented on #57
You have this

[code]

Change to this (adding 2 spaces before the `^`):

[code]

[2016-12-21 13:10] nncse commented on #57
Thanks Jason! Excuse me for the error, it must be from the copy/paste from my notepad. Now I am back to the previous output which is without the route entries.
[code]

[2016-12-21 13:44] GGabriele commented on #57
@nncse I think the actual problem was in the raw text format that you posted.
Try this template please (I simply added a `\s+` at the beginning of the regex line):

[code]

[2016-12-21 15:09] nncse commented on #57
Thank you for all the help!!! You guys are awesome! It works now.

[2016-12-21 16:16] GGabriele commented on #57
No problem! :)

[2016-12-21 16:16] #57 closed

[2016-12-21 16:37] itdependsnetworks commented on #57
@nncse can you please provide an example within a code block? Even doing a view source I can't tell what the spacing actually is. If you could show everything you see from the command line that would be helpful. For instance I see `VRF name: default` as second line on a test box, but not sure if that is always there.

[2016-12-21 16:53] nncse commented on #57
Is this what you are referring to?
[code]

[2016-12-21 16:56] itdependsnetworks commented on #57
@nncse the raw file. something like:

[code]
but with the correct spacing. We have tests for each one of these, and my test doesn't match up with your actual output, which was part of the confusion.

[2016-12-21 16:58] nncse commented on #57
Ok, here it is.
[code]

[2016-12-21 17:19] itdependsnetworks commented on #57
That worked, thanks!

[2016-12-25 22:25] sjtarik commented on #59
@itdependsnetworks @GGabriele Hi Ken, Gabriel, I have a working template and three different sample data. I will post the patch on 29th. Let's discuss how we can merge the three different sample data for a single template. Or should we separate the templates as well?

[2016-12-26 08:35] GGabriele commented on #59
Hi @sjtarik, can you please provide the whole data for all three sample outputs?

[2016-12-30 19:03] sjtarik commented on #59
[mac_sample_1.txt](https://github.com/networktocode/ntc-templates/files/679095/mac_sample_1.txt)
[mac_sample_2.txt](https://github.com/networktocode/ntc-templates/files/679094/mac_sample_2.txt)
[mac_sample_3.txt](https://github.com/networktocode/ntc-templates/files/679093/mac_sample_3.txt)

[2016-12-30 19:03] sjtarik commented on #59
Attaching the three sample data I collected from different IOS platforms for the same command.

[2016-12-30 19:04] sjtarik commented on #59
This is what I propose, combine all data in a single sample data file and handle all with a single template file as below:

Value DESTINATION_ADDRESS (\w+\.\w+\.\w+)
Value TYPE (\w+)
Value VLAN (\w+)
Value DESTINATION_PORT (\S+)

Start
  ^[\\*|\s]\s+${VLAN}\s+${DESTINATION_ADDRESS}\s+${TYPE}\s+\S+\s+\S+\s+${DESTINATION_PORT} -> Record
  ^\s+${VLAN}\s+${DESTINATION_ADDRESS}\s+${TYPE}\s+\S+\s+${DEST

[2016-12-30 19:13] sjtarik commented on #58
@GGabriele Still there is an issue. I think when you hit a single word line (like a long host name), you should record whatever value you have and continue parsing with the current line. Below is working:

Value NEIGHBOR (\S+)
Value LOCAL_INTERFACE (\S+)
Value NEIGHBOR_INTERFACE (\S+)

Start
  ^Device.*ID -> LLDP

LLDP
  ^${NEIGHBOR}\s+${LOCAL_INTERFACE}\s+\d+\s+[\w+\s]+\S+\s+${NEIGHBOR_INTERFACE}

[2016-12-30 21:44] itdependsnetworks commented on #59
This should work for all known use cases. I think it makes it a bit clearer doing it like this

[code]

I can build the parsed files for the test cases given early next week.

[2016-12-30 22:55] sjtarik commented on #59
Looks cool. All cases known to us :), who knows how many different IOS, IOS-XE platforms sold out there.

[2017-01-02 15:56] GGabriele commented on #58
Hi @sjtarik ,
using your template I have this result:
[code]

While using the current template the result is this, which seems to be correct:
[code]

[2017-01-02 17:02] sjtarik commented on #58
Hi @GGabriele, have you applied the patch or simply modified the template for the test? It should work since it passed the commit checks on Travis CI (parsed and raw data comparison). If you add a few more lines after a long host name line, it will be better test case to show why this patch is necessary.

[2017-01-02 17:08] GGabriele commented on #58
This is just a test with native TextFSM, not with `ntc-ansible`...can you please try to run `py.test` on the main folder? It'd run additional tests not used by Travis CI right now and I see it failing when using your patch.

[2017-01-02 17:37] sjtarik commented on #58
After cloning the repo,

`git clone git@github.com:sjtarik/ntc-templates.git`

I just ran this:

`py.test tests/test_structured_data_against_parsed_reference_files.py`

Results:

(venv) $ py.test tests/test_structured_data_against_parsed_reference_files.py
============================= test session starts ==============================
platform darwin -- Python 2.7.10, pytest-3.0.5, py-1.4.32, plu

[2017-01-03 15:11] GGabriele commented on #58
@sjtarik my bad, I messed it up locally. Tested again and it's good to go. Thanks!

[2017-01-03 15:12] #58 closed

[2017-01-10 21:55] bdowling opened #73 "Issues with trying to use the test-template playbook"
##### ISSUE TYPE

 - Bug Report

##### COMMAND
[code]

##### SUMMARY

I was working on some template improvements and wanted to add the tests in.  I ran into a couple of issues.

1) test-template.yml does not work out of the box.  Perhaps I'm missing something, but it seems to not work with ansible 2.3 dev branch.  Starting with I can't see where TEST_DIR was defined, | split('_') balks, and with_

[2017-01-11 14:37] jmcgill298 opened #74 "missing tests folder for cisco_ios_show_ip_bgp"
##### ISSUE TYPE

 - Missing Files

##### TEMPLATE USING

[code]
##### SUMMARY

The folder containing the raw and parsed files is missing.
@wintermute000 do you have these files? Are you on the networktocode slack channel?

[2017-01-11 23:58] bdowling commented on #73
I think I have a more complete compare_dict module working now.  I haven't submitted it as a PR yet as I'm looking for input/feedback on this issue first to make sure I didn't take a wrong turn.

https://github.com/bdowling/ntc-ansible/tree/testing_fixes

Here is some of the relevant output of the aformentioned cisco_ios_show_snmp_community tests output with this new compare_dict:

[code]

Just no

[2017-01-12 11:15] wintermute000 commented on #74
Hi jmcgill298

unfortunately I was testing/writing the code using customer output. I can't share them, but you can run the code against any example and see for yourself.

note I'm still not sure its 100% correct as I didn't do a line by line comparison of over 10k routes but from the data that I was comparing it seemed to do the job. It definitely handles a TON more corner cases than the initial c

[2017-01-12 17:41] sjtarik commented on #74
Hi @wintermute000,

Why don't you anonymize it? You can replace Ip patterns with some non-routable ones, mac addresses with random mac combinations and remove all resolved URL addresses. I have a simple hack script doing that before posting tests. Maybe we should include something like that in project.

Best,
Tarik

[2017-01-12 20:13] itdependsnetworks commented on #73
Just went  this issue over briefly but I have noticed the same thing. Also the further detail in failure message should be helpful.

[2017-01-12 21:40] bdowling commented on #73
I know I paraphased the errors as I didn't want to paste each one I worked through, but, fwiw, these are the initial errors encountered:

[code]
changing the `| split('_')` to `.split('_')` gets you to the TEST_DIR error:
[code]

Fixing those two issues led me to the other discovery that the dictionary comparisons were not working as intended.

[2017-01-12 21:58] wintermute000 commented on #74
How about these? I just took the example from the Cisco textbook.

[example.txt](https://github.com/networktocode/ntc-templates/files/702982/example.txt)
[output.txt](https://github.com/networktocode/ntc-templates/files/702983/output.txt)

[2017-01-16 14:13] #74 closed

[2017-02-15 20:08] dirkvdplas opened #87 "cisco_ios_show_ip_bgp.template some entries are not parsed"
##### ISSUE TYPE

 - Bug Report

##### TEMPLATE USING
Value Filldown STATUS ([bdhimrsSx*>])
Value Filldown PATH_SELECTION ([bdhimrsSx*> ])
Value Filldown ROUTE_SOURCE ([bdhimrsSx*> ])
Value Filldown NETWORK (\S{0,18})
Value Required NEXT_HOP (\S{0,19})
Value Filldown METRIC (\S{0,6})
Value LOCAL_PREF (\S{0,6})
Value WEIGHT (\S{0,6})
Value AS_PATH (.*?)
Value ORIGIN ([ie\?])

Start
  # Since using

[2017-02-17 12:18] itdependsnetworks commented on #87
@dirkvdplas can you please edit your Issue to include backticks around the output? Textfsm is extremely sensitive to spacing and need to see this in the original formating. Can you also un-omit that output for similar reasons

[2017-02-20 14:44] dirkvdplas commented on #87
@itdependsnetworks  can I send the requested output to you via private message? I don't want to provide output of our bgp-table here (for security reasons)

[2017-02-20 16:22] itdependsnetworks commented on #87
@dirkvdplas that is fine. you can contact me on slack, or e-mail ken@networktocode.com.

Either way, can you please clean up the original so it is viewable?

e.g.
\`\`\`
\<your code here\>
 \`\`\`

[2017-02-24 03:38] itdependsnetworks commented on #87
Can you try changing this line: https://github.com/networktocode/ntc-templates/blob/master/templates/cisco_ios_show_ip_bgp.template#L26

from: `^\s{23,25}`
to: `^\s{20,25}`

?

[2017-02-24 07:57] dirkvdplas commented on #87
Hi Ken,

You’re the man! This fixes the issue. I performed a diff compared to original parsed output and the new parsed output has all the missing entries!
Thanks.

Dirk

Van: Ken Celenza [mailto:notifications@github.com]
Verzonden: vrijdag 24 februari 2017 4:38
Aan: networktocode/ntc-templates
CC: Plas, Dirk van der; Mention
Onderwerp: Re: [networktocode/ntc-templates] cisco_ios_show_ip_bgp.templ

[2017-03-01 14:57] #87 closed

[2017-03-10 06:07] jpsenior opened #92 "License question"
NetworkToCode, I am wondering what the licensing is for the TextFSM templates embedded in this project? Can this  project please add a LICENSE file to the root of the project to be more clear? (MIT? :P)

Regards!

[2017-03-24 17:18] #73 closed

[2017-03-27 17:54] jpsenior commented on #92
Any update?

[2017-03-27 22:01] jedelman8 commented on #92
LICENSE file has been added.

[2017-03-27 22:01] #92 closed

[2017-04-06 07:28] bobthebutcher opened #110 "Cisco ASA show version template"
##### ISSUE TYPE
 - Template Creation Help

##### SUMMARY
Would like to have a cisco ASA show version template.
I am happy to work on this if no one else is already doing it.

[2017-04-06 11:33] termlen0 commented on #110
Hello,
Working on it...

[2017-04-06 15:55] termlen0 commented on #110
@bobthebutcher , PR #111 merged, to address this request.

[2017-04-06 16:02] GGabriele commented on #110
Thanks @termlen0 , nice job!

[2017-04-06 16:02] #110 closed

[2017-04-06 20:57] bobthebutcher commented on #110
@termlen0 awesome thanks you sir :)

[2017-05-09 09:26] NedySuprianto opened #121 "'show memory statistics' cisco switch/rotuer template"
- Template Creation Help

would like have template 'show memory statistic' cisco switch/router :)

[2017-06-07 14:27] cyberdog478 opened #124 "hp_procurve_show_vlans.template empty output"
The HP Procurve Show Vlans template regex is unable to handle the addition of the pipe separator used for separating the Name and Status colums (example below) which results in null returned. The following change to the regex resolves this issue (adding \S+\s+ to capture and ignore the pipe and white space):

Line 11:
`  ^\s+${VLAN_ID}\s+${NAME}\s+\S+\s+${STATUS}\s+${VOICE}\s+${JUMBO} -> Record`

[2017-07-10 03:45] itdependsnetworks commented on #121
@NedySuprianto if you can provide a few samples I can take a look at it.

[2017-07-10 03:49] itdependsnetworks commented on #124
@cyberdog478 I attempted to make the updates as you indicated, but it broke the existing test data. Can you provide full output (meaning cli prompt to cli prompt) of your show commands?

[2017-07-17 22:37] vanderaaj opened #135 "NXOS-Show_Interfaces not finding Vlan Interfaces when additional interfaces are past the config. Also potential to provide wrong information."
##### ISSUE TYPE

 - Bug Report

##### TEMPLATE USING

[code]

##### SAMPLE COMMAND OUTPUT

[code]

##### SUMMARY

When the VLAN interface on `show interfaces` is in the middle of a section, TextFSM does not detect the VLAN interface. When it does pick up the VLAN interface is when the VLAN is the last item in the list.

Also just noticed, that with the sample provided above that the ip address de

[2017-07-24 02:42] itdependsnetworks commented on #121
just a reminder @NedySuprianto

[2017-07-24 02:42] itdependsnetworks commented on #124
just a reminder @cyberdog478

[2017-07-24 10:15] NedySuprianto commented on #121
sorry for the late replay, i'm already got the answer @itdependsnetworks
how can i close this issue?

[2017-07-24 10:18] itdependsnetworks commented on #121
Do you mind uploading the template to help the next user?

[2017-07-24 10:24] NedySuprianto commented on #121
i'm not sure this will work for all user, but this is work for me. Hope you can fix the problem if there's have something missing.

[code]

[2017-07-24 10:35] NedySuprianto commented on #121
actually it's grab `show memory statistics` and `show process memory` data, not only `show memory statistics`. the first one is `show memory statistics` and the second one is `show process memory`.

[2017-09-12 13:10] gavmckee80 opened #147 "Template update: cisco_nxos_show_cdp_neighbors"
##### ISSUE TYPE
 - Template Creation Help

##### TEMPLATE USING

[code]

##### SAMPLE COMMAND OUTPUT

[code]
##### SUMMARY
I would like to learn how to add Capability and Platform to the template above.  This will be very useful as the output for these values in the show cdp neighbor detail is somewhat different.  I find the values supplied in this output to be much more useful.

[2017-09-14 02:59] itdependsnetworks commented on #147
Thanks @gavmckee80 I remember this being a bit of an issue, but will try and take a look this weekend.

[2017-09-14 03:00] itdependsnetworks commented on #135
@vanderaaj can you confirm that #140 fixed this?

[2017-09-18 18:32] rkerr commented on #124
Looks like #148 would resolve this without breaking the test cases.

The | between the name and status appears on most of the newer hardware but is missing on the older stuff. The jumbo frames column won't always be present - depends if the hardware supports jumbo frames.

[2017-09-19 16:10] vanderaaj commented on #135
Yes it did. I believe everything is all set to go.

[2017-09-19 16:10] #135 closed

[2017-09-20 07:48] Sandeepsr opened #149 "python3 support"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Template Creation Help
 - Documentation Report

##### TEMPLATE USING

[code]

##### SAMPLE COMMAND OUTPUT

[code]

##### SUMMARY

Can this be used with python 3?

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-09-25 17:34] Sandeepsr commented on #149
Issue resolved, no dependency on python 3 it seems

[2017-09-25 17:34] #149 closed

[2017-12-20 23:02] dagwieers opened #171 "Using the .textfsm extension for templates"
##### ISSUE TYPE
 - Feature Idea

##### TEMPLATE USING
all

##### SUMMARY
I think there's value in renaming the textfsm templates to use the `.textfsm` file extension as currently they cannot be syntax-highlighted in editors, or they are syntax-highlighted wrongly.

[2017-12-26 15:23] itdependsnetworks commented on #171
@dagwieers remind me second week of new years, I'll bring this up. Not leaning to much one way or another, but worth a convo for sure.

[2018-01-18 20:09] lboue opened #175 "Template update: cisco_ios_show_vlan to get interface list"
Hello,

I am trying to improve your template called [cisco_ios_show_vlan.template](https://github.com/networktocode/ntc-templates/blob/master/templates/cisco_ios_show_vlan.template) to get interface list for each VLAN
You can see that this file [cisco_ios_show_vlan.raw](https://github.com/networktocode/ntc-templates/blob/master/tests/cisco_ios/show_vlan/cisco_ios_show_vlan.raw) contains "Ports" co

[2018-01-22 04:49] itdependsnetworks commented on #175
Ludovic,

There is really only a hack way around this, I have asked to extend the capability from the developers, but have not heard back. Adding a +1 may help to highlight the issues: https://github.com/google/textfsm/issues/18

[2018-01-22 04:50] #121 closed

[2018-01-22 04:51] #124 closed

[2018-01-22 12:24] lboue commented on #175
Hello Ken ,

Thanks for asking **RepeatedItem** to the developers.
I managed to get close to the expected result. But I still have to split the PORTS value in an external script.

[code]
Here is the result a this template against your raw file **cisco_ios_show_vlan.raw**

[code]
Regards,
Ludovic

[2018-01-22 13:25] itdependsnetworks commented on #175
Can you take a look at what was done here: https://github.com/networktocode/ntc-templates/blob/28a03813e3d23fdeeea2d4bf0cf1eed9ff577206/templates/cisco_nxos_show_port-channel_summary.template#L19-L24 ?

[2018-04-04 22:25] mekisiel opened #185 "cisco_xr_show_ip_route uptime format and protocol sub-type support"
##### ISSUE TYPE
 - Bug Report

##### TEMPLATE USING
cisco_xr_show_ip_route.template

##### SAMPLE COMMAND OUTPUT
[code]

##### SUMMARY
cisco_xr_show_ip_route.template currently does not account for non-hh:mm:ss uptime formats, such as '1y03w'
cisco_xr_show_ip_route.template currently does not account for protocol sub-type support, such as 'D EX'
I have a working template if you prefer I submit a

[2018-04-16 10:10] d3nisko opened #189 "show cdp neighbors for cisco_ios returns string instead of structured list"
##### ISSUE TYPE
 - Bug Report

##### TEMPLATE USING
[code]

##### SAMPLE COMMAND OUTPUT
[code]

##### SUMMARY
Usage of net template doesn't return structured output for 'show cdp neighbors'.

##### STEPS TO **REPRODUCE**
[code]
##### EXPECTED RESULTS
[code]

##### ACTUAL RESULTS
[code]

[2018-05-01 08:02] yusufq8 opened #193 "how to use this template can any once give 1 example and its result for more and better understanding"
##### ISSUE TYPE

 - Template Creation Help

##### TEMPLATE USING

[code]

##### SAMPLE COMMAND OUTPUT

[code]

##### SUMMARY

[2018-05-09 20:57] patrick-andrew-taylor opened #196 "show interface status for cisco_nxos returns incorrect 'name' and 'port' objects if there are spaces in the description."
##### ISSUE TYPE

 - Bug Report

##### TEMPLATE USING

[code]

##### SAMPLE COMMAND OUTPUT

[code]

##### SUMMARY

When run, part of the "Name" ends up in the "Port" field, and the rest of the "Name" is added to the "Name" field
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]
##### ACTUAL RESULTS

[code]

[2018-05-09 20:58] patrick-andrew-taylor commented on #196
Change to the template that works for me (and works when entered into regex101.com):

[code]

[2018-05-10 14:26] jmcgill298 commented on #193
@yusufq8 what are you asking? How to create a new template? How to use TextFSM? Something else?

[2018-05-11 08:09] yusufq8 commented on #193
yes how to use with devices like cisco/juniper etc

On Thu, May 10, 2018 at 5:26 PM Jacob McGill <notifications@github.com>
wrote:

[2018-05-11 12:50] cldeluna commented on #193
Hi @yusufq8,

Here is a simple example.  First you need to select the template that corresponds to the data you want (the information you want to parse out of your content) and then you need content to parse (you can get this in a variety of ways but we will keep it simple and assume I have a text file of show commands that I need to parse to get the device hardware information and software versio

[2018-05-11 14:13] cldeluna opened #197 "Unable to parse out subinterface information from Cisco IOS content"
did not find anything closely related to this issue

Here is the envifonment
Claudias-iMac:textfsm-example claudia$ pip freeze
et-xmlfile==1.0.1
graphviz==0.8.2
jdcal==1.3
netaddr==0.7.19
openpyxl==2.5.1
textfsm==0.4.1
xlrd==1.1.0

also had same issue with
textfsm==0.3.2

##### ISSUE TYPE

 - Template Creation Help

##### TEMPLATE USING

Using the latest "stock" ntc template for cisco_ios_show_int

[2018-05-14 13:41] jmcgill298 commented on #196
@patrick-andrew-taylor do you want to put in a PR to update the template?

[2018-05-14 13:53] jmcgill298 commented on #193
@yusufq8 does this give you the help you need to get started?

[2018-05-19 22:31] jmcgill298 opened #207 "Add tests for index file to Travis"
##### ISSUE TYPE

 - Bug Report

##### TEMPLATE USING

[code]

##### SAMPLE COMMAND OUTPUT

[code]

##### SUMMARY

Travis is not currently validating the index file, so the index file is not formatted properly as new templates are added.
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Travis to fail due to malformed index file
##### ACTUAL RESULTS

[code]

[2018-05-19 22:31] #193 closed

[2018-05-19 22:34] jmcgill298 commented on #189
@d3nisko can you actually provide the results? Also, what leads you to believe this is an issue with the template, and not how Netmiko is behaving?

[2018-05-23 11:08] #147 closed

[2018-05-23 17:12] cldeluna commented on #197
@jmcgill298 Working like a charm now.  I'd like to better understand the solution. It looks like this was just a template change and next time I'd like to be able to handle it myself.  Any chance you might be able to spare a few minutes?  Totally understand if not and that you can't be answering every lame question.  I can be reached at claudia@indigowire.net if you do have a few minutes.

[2018-05-24 02:58] jmcgill298 commented on #189
@d3nisko any updates you can provide us?

[2018-05-24 06:29] d3nisko commented on #189
Sorry for delay. I'll provide the code and output asap.
Thanks.

On Thu, May 24, 2018 at 4:58 AM, Jacob McGill <notifications@github.com>
wrote:

[2018-05-24 13:19] jmcgill298 commented on #175
@lboue I put together something last night. I think it is good, but it was getting late, so I need to review it again; then I will put in a PR for review

[2018-05-24 13:40] d3nisko commented on #189
@jmcgill298 this might sound very unprofessional, but I'm not able to reproduce the issue anymore. output is returned as expected even thought the code isn't changed and I don't recall upgrading neither netmiko nor templates.

[2018-05-24 13:41] d3nisko commented on #189
Lets close the issue for now. I'll reopen if be able to reproduce.

[2018-05-24 13:41] #189 closed

[2018-05-24 14:08] jmcgill298 commented on #189
@d3nisko feel free to open another issue if you can reproduce.

[2018-05-25 13:33] #197 closed

[2018-05-26 00:59] #175 closed

[2018-07-12 15:29] myyellowshoe opened #224 "Test files for aruba os need renamed."
##### ISSUE TYPE

 - Bug Report
 - Documentation Report

##### SUMMARY

In all other case that I can tell there is a 1 to 1 of template names to test names.
It looks like the test folders and files for aruba os are incorrectly named. Interface is shortened to int.

**Template Names**
[code]

**Current Test Name**
```aruba_os/show_ip_int_brief/aruba_os_show_ip_int_brief.raw```

##### EXPECTED RESUL

[2018-07-12 15:44] myyellowshoe commented on #224
If this is an actual issue and I'm not missing something, happy to to put together a pull request for the change.

[2018-07-13 17:37] jmcgill298 commented on #224
They should be updated, and I believe those templates are not being tested for validity since they don't have the full name. Please put in the PR and I will merge.

[2018-07-21 17:43] murrad01 opened #231 "cisco_asa_show_vpn-sessiondb_detail_l2l.template not parsing"
##### ISSUE TYPE

 - Bug Report

##### TEMPLATE USING

[code]

##### SAMPLE COMMAND OUTPUT

[code]

##### SUMMARY

Not getting formatted data back, only a long string
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

expected formatted data like I get from the following command
output = net_conn.send_command("show running-config tunnel-group", use_textfsm=True)

[{'name': 'x.x.x.x',
  'typ

[2018-07-25 14:19] FragmentedPacket commented on #231
Did you follow the step in this article for setting it up? https://pynet.twb-tech.com/blog/automation/netmiko-textfsm.html

Did you put the templates in your home directory or set an environment variable for the location of the templates? Typically, when you get unstructured data, it is due to it not being able to find the templates.

I can test this at work as well, but figured I'd at least have

[2018-07-25 17:23] murrad01 commented on #231
Yes, the templates are in my home directory.  Other templates are working
fine.

Thanks!

On Wed, Jul 25, 2018 at 7:19 AM, FragmentedPacket <notifications@github.com>
wrote:

[2018-07-25 21:05] FragmentedPacket commented on #231
Looks like I'm able to reproduce the issue as well. I'll try and work on it over the next few days, but someone else might possibly chime in before.

[2018-07-25 22:54] murrad01 commented on #231
Thanks for checking this out, really appreciate it.

BTW, I wanted to take a stab a creating my own templates.  Any
recommendations for resource material?

Thanks!

On Wed, Jul 25, 2018 at 2:05 PM, FragmentedPacket <notifications@github.com>
wrote:

[2018-07-25 23:05] FragmentedPacket commented on #231
I just kind of jumped in and helped people, I believe. The TextFSM templates I first worked on were way less convoluted than this one.

You may want to read a blog post Jason has in regards to this:
http://jedelman.com/home/programmatic-access-to-cli-devices-with-textfsm/

Jason's blog has a link to a regex parser online that I use as well when troubleshooting/creating templates.

I've used this s

[2018-07-26 00:20] murrad01 commented on #231
Not sure how I request an account for networktocode.slack.com

Sign in to networktocode

networktocode.slack.com

Don't have an account on this workspace yet?Contact the workspace
administrator for an invitation

On Wed, Jul 25, 2018 at 4:05 PM, FragmentedPacket <notifications@github.com>
wrote:

[2018-07-26 01:45] FragmentedPacket commented on #231
Here it is:
http://slack.networktocode.com/

[2018-07-26 04:16] murrad01 commented on #231
thanks!

On Wed, Jul 25, 2018 at 6:45 PM, FragmentedPacket <notifications@github.com>
wrote:

[2018-07-26 15:06] murrad01 commented on #231
Here's a section of my submitted output.  Shouldn't this work?  Wouldn't the NAC section just be ignored?

'\nSession Type: LAN-to-LAN Detailed\n\nConnection

[2018-07-26 15:24] jmcgill298 commented on #231
ya, I think I chopped that off when I was reformatting the `\n` to be newlines. I think the NAC is causing the issue b/c of the `EOF` in the template. I can get some data to record by removing that, but then there are other issues with the `Record`, so this template really needs more work than I have time for at this moment

[2018-08-06 15:46] FragmentedPacket commented on #231
https://github.com/networktocode/ntc-templates/pull/237

I think I have it figured out, but feedback is welcomed.

[2018-08-14 21:41] niralkk opened #240 "Build is failing in Travis CI"
Kindly check, my build is getting failed with below error

vmware_nsxv_show_ip_route2
----> passed
==================================================
The command "python test-templates.py" exited with 1.
Done. Your build exited with 1.

[2018-08-20 17:41] tyler-8 opened #245 "Multiple Failing Use Cases in Cisco IOS ACL Template"
Using this issue to track progress on fixes.

##### ISSUE TYPE

 - Bug Report

##### TEMPLATE USING

[code]

##### SAMPLE COMMAND OUTPUT

[code]

##### SUMMARY

The template fails on source port ranges, multiple port entries (up to 10 allowed on IOS), and object-groups.

##### STEPS TO REPRODUCE

(using netmiko)
[code]

##### EXPECTED RESULTS

Structured data returned from template.

##### ACTUAL

[2018-09-14 03:01] bobthebutcher opened #256 "cisco_ios_show_version.template Add Licensing"
##### ISSUE TYPE
 - Feature Idea

##### TEMPLATE USING
[code]

##### SAMPLE COMMAND OUTPUT
[code]

##### SUMMARY
I would like to collect the licensing information from the show version output. I am happy to work on this addition is this something that you would be willing to accept a PR for ?

[2018-10-14 15:02] #196 closed

[2018-10-14 19:37] #185 closed

[2018-10-16 03:14] jmcgill298 commented on #240
The tests pass fine against master. I see several failures against the suggested edits you have in your PR. I have made a few requests against your PR, and breaking it up into several PRs will make it easier and faster to fix. You can run `pytest` locally to validate the templates against the test day before making commits and pushing upstream.

[2018-10-24 13:46] fallenarc opened #277 "cisco_xr_show_cdp_neighbors_detail.template shows remote and local interface incorrectly"
##### ISSUE TYPE

 - Bug Report

##### TEMPLATE USING

cisco_xr_show_cdp_neighbors_detail.template

[code]

##### SAMPLE COMMAND OUTPUT

-------------------------
Device ID: RCMT-RSDVR01
SysName :
Entry address(es):
  IPv4 address: 172.19.0.3
Platform: cisco WS-C3850-48T,  Capabilities: Router Switch IGMP
Interface: TenGigE0/0/0/6
Port ID (outgoing port): TenGigabitEthernet4/0/24
Holdtime : 131 se

[2018-10-26 05:54] jmcgill298 commented on #277
@fallenarc I have a fix in my fork, feel free to pull that down and test. [jmcgill298/xr_cdp](https://github.com/jmcgill298/ntc-templates/tree/xr_cdp)

[2018-10-26 13:40] fallenarc commented on #277
@jmcgill298 Yep that'll get it. Thanks!

[2018-10-26 14:04] fallenarc opened #280 "cisco_xr_show_interfaces.template line 4 regex incorrect"
##### ISSUE TYPE

 - Bug Report

##### TEMPLATE USING

[code]

##### SAMPLE COMMAND OUTPUT

[code]

##### SUMMARY

The current regex for Value IP_ADDRESS tries to match address with a capital A. In the below line

Internet address is 172.16.1.0/31

I have checked XR verison 4.x, 5.x and 6.x. All versions currently use address with lowercase a.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESU

[2018-10-26 14:20] #277 closed

[2018-10-26 16:22] #280 closed

[2018-10-26 16:25] jmcgill298 opened #282 "CISCO_XR_SH_INTF: Parsed file shows that not all interfaces in raw are being parsed/recorded"
##### ISSUE TYPE

 - Bug Report

##### TEMPLATE USING

cisco_xr_show_interfaces
[code]

##### SAMPLE COMMAND OUTPUT

[code]

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

All interfaces in raw file should have a dict entry in the parsed file
##### ACTUAL RESULTS

MGMT 1 and last TenGig are not captured

[code]

[2018-10-27 04:55] #282 closed

[2018-11-06 09:18] sakabio opened #286 "New Template Request"
##### ISSUE TYPE

 - Feature Idea

##### SUMMARY

Can you add templates for show interface description for Cisco devices
##### STEPS TO REPRODUCE
Output should be similar to show interface status

[2018-11-06 19:22] itdependsnetworks commented on #286
@sakabio Thanks for your interest in the project!

There are hundreds if not thousands of commands that could be in scope, and they essentially they are delivered on an as needed basis. I highly suggest take one of the following routes:

- Develop the templates and tests, and contribute them back
- Find someone within your scope of influence to do that for you
- Join the slack.networktocode.com ch

[2018-11-06 19:22] #286 closed

[2018-11-08 08:47] pergamen opened #287 "Problem with parsing ASA ACL"
##### ISSUE TYPE

 - Bug Report

##### TEMPLATE USING

[code]

##### SAMPLE COMMAND OUTPUT

[code]

##### SUMMARY

I have wite python script with netmiko module

##### STEPS TO REPRODUCE

[code]
Original access list:
[code]

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-11-19 19:04] Jaydubya35 commented on #287
You're running a `show running-config access-list` command through the `show access-list` parser. Since your output is missing line numbers, hitcounts and the hash it doesn't match.

[2018-12-02 14:30] pergamen commented on #287
@Jaydubya35
Hello thank you for your response

On the python script I have use `show access-list`
`result = connection.send_command("show access-list out40-if", use_textfsm=True)`

The access list that I have show it is from Cisco Configuration
However I provide also result of Cisco  `show access-list` from cli
[code]

[2018-12-03 00:04] Jaydubya35 commented on #287
@pergamen, thanks for the output from the ASA. I can see that it is failing to pick up on `time-exceeded` in that line. It looks like the template was not written to accept icmp types yet and that is what it is failing on.

Until the template can be fixed, you can always group your icmp-types into an object-group like so:

[code]

[2018-12-03 17:45] pergamen commented on #287
@Jaydubya35
Thank yo very much for you quick answer

Your recommendation is help.

Hover ever is it possible  during process to resolve previous problem look
also on the on additional bugs:

Bug description:

When you use on python script " show access-list "  command ( without
specific access list name)  it also failed on the system ACL cashed

5525Xhab1cr01# show access-list
access-list cached A

[2019-01-03 04:52] #231 closed

[2019-01-11 00:12] JCapretta opened #328 "cisco_ios_show_vlan.template not recorded complete list of interfaces"
##### ISSUE TYPE
 - Bug Report

##### TEMPLATE USING

[code]

##### SAMPLE COMMAND OUTPUT
[code]

##### SUMMARY
When the list of interfaces in the "Ports" column contains more than 12 interfaces in a single line, there only the first 12 interfaces will be recorded

##### STEPS TO REPRODUCE
`python /textfsm.py ~/ntc-templates/templates/cisco_ios_show_vlan.template /tmp/show_vlan`

##### EXPECTED RE

[2019-01-12 03:09] jmcgill298 commented on #328
#329

[2019-01-12 03:09] #328 closed

[2019-01-14 01:06] JCapretta opened #331 "cisco_nxos_show_interface_status.template: error on 10G and 40G interfaces"
##### ISSUE TYPE
 - Bug Report

##### TEMPLATE USING

[code]

##### SAMPLE COMMAND OUTPUT

[code]

##### SUMMARY
cisco_nxos_show_interface_status.template throws an error on 10G and 40G interfaces

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
No error

##### ACTUAL RESULTS

[code]

[2019-01-14 02:27] JCapretta opened #333 "cisco_nxos_show_interface_status.template"
##### ISSUE TYPE

 - Bug Report

##### TEMPLATE USING

[code]

##### SAMPLE COMMAND OUTPUT

[code]

##### SUMMARY
Template give an error on the line for the nve1 interface because the VLAN value is "--"

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
No error

##### ACTUAL RESULTS

[code]

[2019-01-14 14:38] jmcgill298 commented on #333
Fixed in #334

[2019-01-14 14:38] #333 closed

[2019-01-28 16:02] Alan-R opened #361 "Master branch fails tox tests"
This is from the master branch

##### ISSUE TYPE
 - Bug Report

##### TEMPLATE USING
Running Tox tests

##### SUMMARY
See above.

##### STEPS TO REPRODUCE
git pull <master URL>
cd ntc-templates
tox

##### EXPECTED RESULTS
I expected the tests to pass

##### ACTUAL RESULTS
It failed with an Invocation error. Complete output below...

[code]

[2019-02-03 05:08] jmcgill298 opened #369 "Need to raise custom exception"
https://github.com/networktocode/ntc-templates/blob/923f9afe679f549d14079c4ec962cc913f784550/ntc_templates/parse.py#L38

Currently `parse_output` raises a generic `Exception`; this needs to be changed to a custom exception that can be properly caught by users of the function.

[2019-02-22 17:39] jvanderaa opened #374 "cisco_ios_show_lldp_neighbor_detail failing when `Physical media capabilities` are `Other/unknown`"
##### ISSUE TYPE

 - Bug Report

##### TEMPLATE USING

[Github link](https://github.com/networktocode/ntc-templates/blob/master/templates/cisco_ios_show_lldp_neighbors_detail.template)
[code]

##### SAMPLE COMMAND OUTPUT

[code]

##### SUMMARY

When a device is advertising `Other/unknown` **Physical media capabilities:** the module fails. I believe this is from there being no `( )` in the string.

[2019-02-24 20:23] jvanderaa opened #375 "show_lldp_neighbors.template failing when switch + domain name is > 19 characters"
##### ISSUE TYPE
 - Bug Report

##### TEMPLATE USING

**cisco_ios_show_lldp_neighbors**
[code]

##### SAMPLE COMMAND OUTPUT

[code]

##### SUMMARY

When the hostname + domain name gets long the lldp neighbor output truncates at 20 characters. The result is no record being created and getting a blank completion.

Sample output of NTC Templates with network engine as is:

[code]

##### STEPS TO REPR

[2019-02-25 01:07] #375 closed

[2019-03-05 16:07] kevindasilva03 opened #382 "show ip route IOS vs NXOS"
##### ISSUE TYPE

 - Bug Report

##### TEMPLATE USING

[code]

##### SAMPLE COMMAND OUTPUT

[code]

##### SUMMARY

When using textfsm for to show the ip route with a hostname, I get different results with IOS vs NXOS.

With IOS, it return a string. With NXOS, it returns a list of dictionaries, as I would expect.

FYI... I'm using Netmiko and not sure if it's related to that module vs using textFSM

[2019-03-07 17:02] brandomando opened #384 "Cisco ASA show route template error"
##### ISSUE TYPE

 - Bug Report

##### TEMPLATE USING

[code]

##### SAMPLE COMMAND OUTPUT

[code]

##### SUMMARY

The UPTIME variable is not correctly placed in the template, and is causing uptime to populate into nexthopif, and uptime to be blank.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]
##### ACTUAL RESULTS

[code]

[2019-03-07 20:20] kevindasilva03 opened #385 "show_mac_address-table - Output contains single dictionary"
##### ISSUE TYPE

 - Bug Report

##### TEMPLATE USING

[code]

##### SAMPLE COMMAND OUTPUT

[code]

##### SUMMARY

When using this template, the output only produces a list of 1 dictionary of the first entry of the show mac address-table command. FYI... This is in conjunction with the Netmiko

##### STEPS TO REPRODUCE

mac_int_output = net_conn.send_command("show mac address-table", use_textfsm=Tr

[2019-03-07 21:02] ktbyers commented on #385
See https://github.com/ktbyers/netmiko/issues/1126

[2019-03-08 18:27] jvanderaa opened #387 "Cisco ASA - Missing capture of Software Compile Date"
##### ISSUE TYPE

 - Bug Report

##### TEMPLATE USING

**cisco_asa_show_version.template**
[code]

##### SAMPLE COMMAND OUTPUT

[code]

##### SUMMARY

One thing that will be helpful is the ability to capture the Software Compile date, this is a better way to judge the age of the code rather than looking specifically at the code version. Code version alone doesn't quite give you how old it is.

###

[2019-03-18 07:35] jifox opened #390 "New template cisco_ios_show_snmp_user.template"
##### ISSUE TYPE

 - Feature Idea

##### TEMPLATE USING

[code]

##### SAMPLE COMMAND OUTPUT

[code]

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2019-04-16 06:53] Abed1985 opened #396 "Huawei - display lldp neighbor formatting"
Hi ,
it will be greate if somebody can assist formating the below output . I am struggling to get it working , I did the arp one easy , but this require alot of work, any tips at least to which template might help reverse engineer this ?

<> display lldp neighbor

GigabitEthernet0/0/0 has 0 neighbors

GigabitEthernet0/0/1 has 1 neighbors:

Neighbor index : 1
Chassis type   :macAddress
Chassis ID

[2019-04-16 12:30] Abed1985 commented on #396
I have parsed what I need using the below :

cat huawei_display_lldp_neighbor.template

`Value SYSTEM_NAME (\S+)
Value MANAGEMENT_ADDRESS (\d+.\d+.\d+.\d+)
Value MANUFACTURER_NAME (.*)
Value MODEL_NAME (.*)

Start
  ^System name.+:${SYSTEM_NAME}
  ^Management address.+:\s${MANAGEMENT_ADDRESS}
  ^Manufacturer name.+:${MANUFACTURER_NAME}
  ^Model name.+:${MODEL_NAME} -> Record`

Sample output:

pyth

[2019-04-19 01:43] Abed1985 commented on #396
its always parsing a single value neighbor ,, any ideas where this is going wrong? guess thats not the correct way of parsing

[2019-04-19 03:45] Abed1985 commented on #396
Record start it is ! sorry

[2019-04-24 17:32] jmcgill298 commented on #361
Resolved by #403

[2019-04-24 17:32] #361 closed

[2019-04-30 17:23] jvanderaa opened #409 "cisco_wlc_ssh update name to cisco_wlc?"
##### ISSUE TYPE

 - Feature Idea

##### TEMPLATE USING

[code]

##### SAMPLE COMMAND OUTPUT

[code]

##### SUMMARY

Other systems are jumping in and working in conjunction with NTC templates. Specifically Netmiko integration in this issue. The name for wireless is typically `cisco_wlc` in Netmiko, which then does not find an NTC template in the home directory. As a work around the device_type of

[2019-04-30 19:20] jmcgill298 commented on #409
I need to think more about potential impact on others projects that have this as a dependency, but I created this TODO when I upgraded the testing

https://github.com/networktocode/ntc-templates/blob/7ddc227d2d7f5b71c66618552db33ce752c660b1/tests/test_testcases_exists.py#L20

[2019-05-01 00:18] jshively37 opened #410 "Arista and show int status"
##### ISSUE TYPE

 - Bug Report

##### TEMPLATE USING

[code]

##### SAMPLE COMMAND OUTPUT

[code]

[2019-05-01 02:40] jmcgill298 commented on #410
I am confused as to what issue you are reporting. I am assuming that the type of the object being returned is not really the issue, but that the data is not being parsed by TextFSM. What is actually returned? Is it a message, is it the contents of the command output from the device, or is it something else? Have you tried using this project with the command output? Have you tried CliTable or TextF

[2019-05-01 11:22] jshively37 commented on #410
Basically the show int status is not returning structured data but instead is returning just text string.

I brought the issue up to a co-worker and it appears the newer Arista code integrated a flags field in the output of show int status. This is probably why the returned data does not match the template.

We are going to play around with the template file and see if we can get it work properly.

[2019-05-01 15:18] robobeaver6 opened #411 "README Documentation missing setup information"
##### ISSUE TYPE

 - Documentation Report

##### TEMPLATE USING

[code]

##### SAMPLE COMMAND OUTPUT

[code]

##### SUMMARY
Documentation README.md does not include any initial setup or prerequisite requirements.
It also does not give any info on how to run the tests.

##### STEPS TO REPRODUCE
Setup from scratch with
`git clone https://github.com/networktocode/ntc-templates.git`

##### EXPECTED RE

[2019-05-03 08:24] robobeaver6 commented on #411
I have added a PR for this issue (#414).  It adds a few lines to tell people to use TOX and also addes a Pipfile so the requirements can be easily installed in a venv.

[2019-05-09 21:34] alphabet5 commented on #374
I have solved this by replacing line 30 with the following:
`  ^\s+.+\S+\s*$$`

It seems the regex is looking for the ( and ) characters which don't show up with 'Other/Unknown' output.

[2019-05-11 00:29] jvanderaa commented on #374
Does that become the same thing that was done in https://github.com/networktocode/ntc-templates/pull/377?

[2019-05-11 14:12] bouchardh opened #415 "wrong info returned when not space between interface name and number from show cdp neighbor"
##### ISSUE TYPE

 - Bug Report

##### TEMPLATE USING

Value Required NEIGHBOR (\S+)
Value LOCAL_INTERFACE (\S+\s\S+)
Value CAPABILITY ((?:\w(?:\s(?!\s))?){0,})
Value PLATFORM (\S{2,}\s\S{2,}|\S+)
Value NEIGHBOR_INTERFACE (\S+\s\S+)

Start
  ^Device.*ID -> CDP

CDP
  ^${NEIGHBOR}$$
  ^\s+${LOCAL_INTERFACE}\s+\d+\s+${CAPABILITY}\s+${PLATFORM}\s+${NEIGHBOR_INTERFACE} -> Record
  ^${NEIGHBOR}\s+${LOC

[2019-05-30 09:46] robobeaver6 opened #417 "Index sequence tests do not test command ordering correctly"
##### ISSUE TYPE

 - Bug Report

##### SUMMARY

The test_index_order.py test does not test the commands correctly.
The template index rules state:
[code]
However, the test splits the template file name into vendor_os and command, but the file name is not always the command.  The command is the last field on the line.  there could potentially be two commands pointing to the same template file.  For

[2019-05-30 15:27] robobeaver6 commented on #409
I just spotted this as well as I was running the tests for PR #418 .  The rules of the index file specifically state the OS need to be a netmiko OS type, which is `cisco_wlan_ssh`, so I think it would need to be changed there first.

 I wasn't raising that PR for this issue, but in changing the way the command and OS is compared, the test failed because the list of accepted types in the test was w

[2019-06-10 17:22] joefodor opened #420 "nxos_show_interface_status_template error"
##### ISSUE TYPE

 - Bug Report

##### TEMPLATE USING

[code]

##### SAMPLE COMMAND OUTPUT

[code]

##### SUMMARY

Getting a traceback that looks like its failing at the top of the output of the show interface status command. I know my NTC setup is correct cause I ran cisco_nxos_show_interface_brief.template with no problem.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Get the output

[2019-06-11 19:46] FragmentedPacket commented on #420
@joefodor It doesn't appear that you're using the latest template from the repo. If you pull the latest, that should resolve your issue.

[2019-06-26 07:57] fhlmbrg commented on #374
Confirming that @alphabet5 's fix does the trick:

[code]

[2019-07-04 22:21] edurguti opened #424 "Cisco ASA - show failover error"
##### ISSUE TYPE

 - Bug Report

##### TEMPLATE USING

[code]

##### SAMPLE COMMAND OUTPUT

[code]

##### SUMMARY
when using show_failover template on the new ASA with firepower, the Firepower module should be part of the failover interface group, but "Firewpower" doesn't start with "internface".

I'm getting the following error when using with netmiko

##### STEPS TO REPRODUCE

[code]

##### EXPE

[2019-07-10 11:14] Antoine-35 opened #426 "nxos show interface status issue"
### ISSUE TYPE
 - Bug Report

##### TEMPLATE USING
[code]

##### SAMPLE COMMAND OUTPUT

[code]

##### SUMMARY
State error raised on line where type is Fabric Extender
It works fine on all Nexus Without Fabric Extender

##### STEPS TO REPRODUCE

##### EXPECTED RESULTS
 No error

##### ACTUAL RESULTS

[code]

[2019-07-15 16:11] FragmentedPacket commented on #410
@jshively37 Just wanted to see if there was an update on your end?

[2019-07-16 02:37] FragmentedPacket commented on #256
@bobthebutcher Was a PR ever submitted for this?

[2019-07-16 02:43] FragmentedPacket commented on #287
@Jaydubya35 I see you have some work on this. Did you ever submit PR for fix?

[2019-07-16 03:02] FragmentedPacket commented on #382
@kevindasilva03 This appears to be that the NXOS template has more use cases built out. There is no special handling for the output returned from `show ip route vrf xxx y.y.y.y` within the `cisco_ios_show_ip_route.template`, but for regular output from `show ip route` should work, but does require additional work to find what you're looking to match after you get the structured data back.

If you'

[2019-07-16 03:06] FragmentedPacket commented on #396
@Abed1985 Did you get this sorted out?

[2019-07-16 04:47] Abed1985 commented on #396
Yes. I parsed what I need from this output , using the following , if it addresses all the output I would have contributed back :) Thanks

Value SYSTEM_NAME (\S+)
Value MANAGEMENT_ADDRESS (\d+.\d+.\d+.\d+)
Value MANUFACTURER_NAME (.*)
Value MODEL_NAME (.*)

Start
  ^System name.+:${SYSTEM_NAME}
  ^Management address.+:\s${MANAGEMENT_ADDRESS}
  ^Manufacturer name.+:${MANUFACTURER_NAME}
  ^Model nam

[2019-07-16 05:01] bobthebutcher commented on #256
Hey @FragmentedPacket I was not able to get to this one before leaving to company I was looking to implement it at. Are you looking to just close out old items ? If you have a PR feel free to jump in. In either case, there is another command where I think its better for this data. `show license feature` has more detail info related to the licenses and their state on the box.

[2019-07-16 14:26] FragmentedPacket commented on #256
@bobthebutcher More or less close this out or get a PR submitted to implement it. I'd say at this time it may be best to close it out unless you have cycles to implement it.

The hard part with a different command is the work that goes into creating a new template and most of these templates are based on use cases.

Feel free to close it out if you don't have the cycles or the need for it :D

[2019-07-16 15:44] FragmentedPacket commented on #396
@Abed1985 Would you mind submitting a PR for this?

You should be able to reference PR #398

[2019-07-16 19:08] Jaydubya35 commented on #287
Oh, sorry I forgot the colon on the auto close syntax. Yes, it got fixed in this PR: https://github.com/networktocode/ntc-templates/pull/313

[2019-07-19 17:12] FragmentedPacket commented on #287
No problem! Thanks for updating us and I will close this out

[2019-07-19 17:12] #287 closed

[2019-07-19 17:14] FragmentedPacket commented on #224
@myyellowshoe Do you have time to open PR with the changes so we can merge it?

[2019-07-19 17:31] FragmentedPacket commented on #385
@kevindasilva03 Do you mind contributing the fix via PR to this repo?

[2019-07-19 17:35] FragmentedPacket commented on #390
@jifox This would be great. If you don't mind submitting a PR for it>

Do you mind adding the following to the bottom of **Start** when submitting PR:
[code]

[2019-07-19 21:19] #374 closed

[2019-07-21 05:18] bobthebutcher commented on #256
Alright, ill attempt to tackle this next week. I will also open a separate issue for the `show license feature` template. I will circle back toward the end of the week with a PR.

[2019-07-21 08:01] jifox commented on #390
@FragmentedPacket
Okay, I'll open a PR with suggested modifications

[2019-07-22 08:46] Antoine-35 commented on #426
Thanks a lot

[2019-07-22 08:46] #426 closed

[2019-07-23 15:48] myyellowshoe commented on #224
Yeah, let me get something in this week.

[2019-07-23 22:22] #224 closed

[2019-07-23 23:02] bobthebutcher commented on #256
I attempted to work on this yesterday and I was unable to adequately target just the license details without matching other items in the output. I think this is a bit of a bust and will close this PR.  I did start work on another method using the `show license feature` output and I will submit a PR for that later today.

[2019-07-23 23:02] #256 closed

[2019-07-23 23:18] bobthebutcher opened #440 "New Template: cisco_ios_show_license"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
I am proposing the addition of a new template to parse the licensing details from Cisco IOS devices. Assuming you are happy to accept a PR I will raise a PR against this issue.

##### TEMPLATE
[code]

##### Parsed output
[code]

[2019-07-23 23:20] bobthebutcher commented on #256
Raised #440 to track

[2019-07-30 07:12] cuiminghao8 opened #444 "cisco_ios_show_lldp_neighbors_detail failing when last neighbor includes" MED information" section"
##### ISSUE TYPE

 - Bug Report
##### TEMPLATE USING

[code]

##### SAMPLE COMMAND OUTPUT

[code]

##### SUMMARY

This template failed to parse command when the last LLDP neighbor includes a "MED information" section but works well when the last neighbor doesn't have a "MED information" section.
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Expected to see structured result like:
[code

[2019-08-19 10:51] thomasbridge74 opened #455 "FileNotFoundError on Windows 10"
##### ISSUE TYPE
 - Bug Report

##### TEMPLATE USING
Error does not appear to be template specific (unless the index file counts)

##### SAMPLE COMMAND OUTPUT

##### SUMMARY
It would appear that the templates files are not copied when installing in Windows from a local copy of the repository.

##### STEPS TO REPRODUCE
On a Windows 10 desktop with git bash
[code]

Then in a python console (having s

[2019-08-19 18:45] jmcgill298 commented on #455
Thanks for reporting this @thomasbridge74. Can you try using the `parse` branch of this project and install with the `-e` option?

[2019-08-20 08:59] thomasbridge74 commented on #455
Hi @jmcgill298 - that does appear to have done the trick.

[code]

Resolves the issue.

[2019-08-21 02:04] jmcgill298 commented on #455
Thanks for confirming; I have submitted #456

[2019-08-28 11:01] thomasbridge74 opened #459 "cisco_ios_show_ip_eigrp_topology.template does not deal with redistributed routes."
##### ISSUE TYPE
 - Bug Report

##### TEMPLATE USING
[code]

##### SAMPLE COMMAND OUTPUT
[code]

##### SUMMARY
The template file for show ip eigrp topology (on Cisco IOS boxes) does not cover all the possible  options.

Specifically it can't cope if the FD is set Inaccessible, or if the route is learned via Redistribution, where the output is "via Rstatic" or "via Redistributed" rather than via an

[2019-08-28 11:02] thomasbridge74 commented on #459
#445  has been submitted with a fix.

[2019-08-28 17:54] centove opened #460 "arista_eos_show_interfaces_status.template does not deal with disabled ports properly"
##### ISSUE TYPE

 - Bug Report

##### TEMPLATE USING
Value PORT (\S+)
Value NAME (.+?)
Value STATUS (connected|notconnect|inactive|errdisabled)
Value VLAN (\S+)
Value DUPLEX (\S+)
Value SPEED (\S+)
Value TYPE (\S+)

Start
  ^${PORT}\s+${NAME}\s+${STATUS}\s+${VLAN}\s+${DUPLEX}\s+${SPEED}\s+${TYPE} -> Record
  ^${PORT}\s+${STATUS}\s+${VLAN}\s+${DUPLEX}\s+${SPEED}\s+${TYPE} -> Record

##### SAMPLE C

[2019-08-29 14:50] speirsoj01 opened #461 "cisco_ios_show_ip_interface.template does not deal with peer address on virtual-access interface"
##### ISSUE TYPE

 - Bug Report

##### TEMPLATE USING

[code]

##### SAMPLE COMMAND OUTPUT

[code]

##### SUMMARY
The template file show_ip_interface for Cisco IOS does not cover all the possible options.

I did resolve this issue by adding, but not sure how you'd want to deal with this in the real code:
[code]
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Parsed object for the output

[2019-09-10 19:09] kesabo opened #469 "Cisco IOS Show Run Template"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Please forgive me if this is not the correct approach to handle this. I am new to Github.

Is there a current effort towards parsing the Cisco IOS 'show running-config' command into a template? Many of the things we do at my current place of employment works off of 'show running-config' validations.

I am interested in contributing to a template for

[2019-09-10 19:13] itdependsnetworks commented on #469
We would likely want to do this in yangify/ntc-rosetta. You can find more information here: https://www.networktocode.com/blog/post/yangify-is-released/

If you want to have further real time conversation, it may be easier on the #networktocode channel on out public slack. You can auto sign up for it at http://slack.networktocode.com

[2019-09-10 19:25] kesabo commented on #469
This is interesting, but the problem with that is two-fold.

Firstly, many companies are marred by antiquated design engineers who refuse to allow for NETCONF/RESTCONF protocols to be used in their network. It is my understanding that a YANG based solution would be useless in a CLI-based 'show' only environment, correct me if I am wrong here.

Secondly, Netmiko does not currently have a native sup

[2019-09-10 19:54] jabelk commented on #469
hi @kesabo , I suggest you look at the docs for ntc-rosetta / yangify:
https://ntc-rosetta.readthedocs.io/en/latest/
the project does not require any protocols, it is a parsing / rendering engine offline based on Yang data models and Python objects. You could use netmiko, napalm or whatever to push / pull the config.
See my demo here:
https://github.com/jabelk/rosetta-yangify-nornir-demo
note that

[2019-09-20 00:27] #387 closed

[2019-09-23 17:07] htr2 opened #472 "cisco_nxos_show_interface_brief does not deal with pvlan and fabric interfaces"
##### ISSUE TYPE
 - Bug Report

##### TEMPLATE USING
Value INTERFACE ([\w+/]+)
Value VRF (\S+)
Value STATUS (up|down)
Value IP (\d+\.\d+\.\d+\.\d+)
Value SPEED (\S+)
Value MTU (\d+)
Value VLAN ([\d+--]+)
Value TYPE (\S+)
Value MODE (routed|access|trunk)
Value REASON (\S+((\s\w+)+)?)
Value PORTCH (\S+)
Value DESCRIPTION (\S+((\s\w+)+)?)

Start
  ^Port\s+VRF\s+Status\s+IP\s+Address\s+Speed\s+MTU ->

[2019-09-25 12:13] juggah opened #473 ""Cisco IOS show authentication session" issue when session count exceeds ~10"
##### ISSUE TYPE

 - Template Creation Help
##### TEMPLATE USING
cisco_ios_show_authentication_sessions.template

Value INTERFACE (.+?)
Value MAC (.+?)
Value METHOD (.+?)
Value DOMAIN (.+?)
Value STATUS (.+?)
Value SESSION (\w+?)

Start
  ^Interface\s+MAC Address\s+Method\s+Domain -> Catch

Catch
  ^${INTERFACE}\s+${MAC}\s+${METHOD}\s+${DOMAIN}\s+${STATUS}\s+${SESSION}$$ -> Record
  ^.* -> Start

[2019-09-25 12:23] juggah commented on #473
Im sorry for the large&bold letters in the middle of the post. Couldnt set the formatting to default on this section.

[2019-09-26 00:43] #455 closed

[2019-09-29 23:22] #472 closed

[2019-09-29 23:51] FragmentedPacket commented on #473
I would say that we can change the template to:
[code]

Do you mind testing that and then opening a PR with the change and a new **raw** and **parsed** with the outputs with `---` in it?

[2019-10-01 15:06] #424 closed

[2019-10-03 10:04] i-m-d opened #483 "cisco_ios_show_standby_brief.template support for interfaces and output in two lines"
##### ISSUE TYPE

 - Feature Idea and upgrade

##### TEMPLATE USING
Value IFACE (\S+)
Value GROUP (\d+)
Value PRIORITY (\d+)
Value PREEMPT (.)
Value STATE (\w+)
Value ACTIVE (\S+)
Value STANDBY (\S+)
Value VIRTUALIP (\S+)

Start
  ^${IFACE}\s+${GROUP}\s+${PRIORITY}\s+${PREEMPT}\s+${STATE}\s+${ACTIVE}\s+${STANDBY}\s+${VIRTUALIP} -> Record
  ^${IFACE}$$
  ^\s+${GROUP}\s+${PRIORITY}\s+${PREEMPT}\s+${

[2019-10-03 16:37] feisa opened #484 "Cisco IOS LLDP"
we are running the following
- name: Gather LLDP Neighbors
  ntc_show_command:
    connection: ssh
    platform: cisco_ios
    template_dir: /usr/lib/python2.7/site-packages/napalm_ansible/ntc-ansible/ntc-templates/templates/
    command: 'sh lldp neighbors'
    host: "{{ inventory_hostname }}"
    username: networklogin
    password: "{{ networklogin_password }}"
  register: neighbors

but ntc re

[2019-10-08 17:03] #473 closed

[2019-10-08 17:09] #385 closed

[2019-10-09 02:08] feisa commented on #484
any update?

[2019-10-09 02:16] jmcgill298 commented on #484
What is the result when you set `use_templates` to `false`?

[2019-10-09 02:49] feisa commented on #484
the response is this

 "Capability codes:\n    (R) Router, (B) Bridge, (T) Telephone, (C) DOCSIS Cable Device\n    (W) WLAN Access Point, (P) Repeater, (S) Station, (O) Other\n\nDevice ID           Local Intf     Hold-time  Capability      Port ID\ntestspinc001.hq.crabTwe1/1/1       120        B,R             Ethernet1/41\ntestrschx007.hq.crabGi1/0/38       120        B               mgmt\ntestrsc

[2019-10-09 15:08] jmcgill298 commented on #484
What happens if you save that output to a file and use TextFSM to parse it using the template?
I have the latest version of TextFSM so the command looks like: `python ~/venv/ntcansible/lib/python3.6/site-packages/textfsm/parser.py templates/cisco_ios_show_lldp_neighbors.template lldp_output.txt`

What version of ntc-ansible do you have? If you updated the ntc-templates repo, what commit is your HE

[2019-10-09 15:15] jmcgill298 commented on #484
I believe #376 might be the fix that you need to incorporate into your templates

[2019-10-09 15:36] feisa commented on #484
I tried the fix in 376 but that didnt work

I just recloned the templates

b6f5463317eb787acc87260350375210b3de6949 HEAD
813f1c9cdcd93186ebc0d5ee0a512a93ff74b041 refs/heads/master
813f1c9cdcd93186ebc0d5ee0a512a93ff74b041 refs/remotes/origin/HEAD
259e67c1c0272fe9c71fb98ab67d33f932790293 refs/remotes/origin/itdependsnetworks-bfd_cdp
813f1c9cdcd93186ebc0d5ee0a512a93ff74b041 refs/remotes/origin/master

[2019-10-09 15:37] jmcgill298 commented on #484
your head shows at #273 which was merged a year ago

[2019-10-09 21:25] #460 closed

[2019-10-09 23:12] jmcgill298 commented on #484
@feisa I created a new release earlier today that updated the ntc-submodule to the latest release (v1.2.1). I tested running a playbook in offline mode with the data you provided and got a the expected parsed data.

[2019-10-11 02:18] feisa commented on #484
@jmcgill298 this works now

[2019-10-11 02:47] #484 closed

[2019-10-17 03:47] FragmentedPacket commented on #444
@cuiminghao8 This seems to have been fixed at some point. Can you please pull the latest and let me know if the issue still exists.

[2019-10-17 03:49] FragmentedPacket commented on #420
I'm going to go ahead and close this issue. If the issue still occurs with using the latest ntc-templates please re-open or create a new issue.

[2019-10-17 03:49] #420 closed

[2019-10-17 04:15] #390 closed

[2019-10-17 04:16] #459 closed

[2019-10-17 04:38] #461 closed

[2019-10-17 04:40] FragmentedPacket commented on #410
@jshively37 I'm going to go ahead and close this issue.

If you guys fixed the issue and would like to share the changes to to the template then you're more than welcome to submit a PR back for this or you can post the output and we can help figure out a fix for your issue.

[2019-10-17 04:40] #410 closed

[2019-10-22 13:57] jvanderaa opened #498 "cisco_asa bug in 9.10.1.22 causes `show inventory` template to fail"
##### ISSUE TYPE

 - Bug Report

##### TEMPLATE USING

[code]

##### SAMPLE COMMAND OUTPUT

[code]

##### SUMMARY

Because of extra output on the command response, the template errors out.

##### STEPS TO REPRODUCE

- Have a device on Cisco ASA 9.10.1.22 code
- Run command `show inventory`
- Send command through a TextFSM parser

[code]

##### EXPECTED RESULTS

Same output as that of a non buggy I

[2019-10-22 17:44] #498 closed

[2019-10-22 18:35] #483 closed

[2019-10-22 19:34] jmcgill298 commented on #444
Believed to be fixed in new version, cannot reproduce with example provided

[2019-10-22 19:34] #444 closed

[2019-10-22 19:35] #240 closed

[2019-10-22 20:58] #384 closed

[2019-10-23 00:48] jmcgill298 commented on #411
#452

[2019-10-23 00:48] #411 closed

[2019-10-23 01:34] #415 closed

[2019-11-04 22:26] #440 closed

[2019-11-04 23:14] bobthebutcher commented on #440
Thanks for finishing this one up

[2019-11-05 20:57] corvese opened #534 "Potential naming inconsistencies between ntc-templates and netmiko for fortinet devices"
##### ISSUE TYPE
 - Bug Report

##### TEMPLATE USING

[code]

##### SAMPLE COMMAND OUTPUT

[code]

##### SUMMARY

- I'm trying to obtain structured data from the aforementioned template using Netmiko
- I am returned unstructured data (the raw output)
- I suspect this is related to the naming convention used by this project:
[code]
- Netmiko device_type is just ```fortinet```
- When I change the in

[2019-11-06 22:36] jmcgill298 commented on #534
@ccorvese This can be reverted back to `fortinet`, but the tests will have to be updated to not be dependent on the vendor/os distinction

[2019-11-06 23:45] ccorvese commented on #534
Thanks @jmcgill298. So would this proposed change to the automated tests be required for all vendors, or just for fortinet?

[2019-11-07 15:35] jmcgill298 commented on #534
I haven't had time to look at it in detail, but there should be a generic fix that just doesn't depend on parsing the names

[2019-11-10 13:53] vnetman opened #537 "cisco_ios_show_interfaces_switchport.template broken"
##### ISSUE TYPE

 - Bug Report

##### TEMPLATE USING

[code]
##### SAMPLE COMMAND OUTPUT

[code]

##### SUMMARY

Parsing fails with `textfsm.parser.TextFSMError: State Error raised. Rule Line: 34. Input Line: Unknown unicast blocked: disabled`

It seems as if the template has no rule to match the "Unknown unicast blocked" and "Unknown multicast blocked" lines.

Earlier versions (I tried 1.2.1) wo

[2019-11-10 23:46] FragmentedPacket commented on #537
Do you mind trying #538 and letting us know if that fixes your issue?

[2019-11-11 14:42] #537 closed

[2019-11-20 19:36] jmcgill298 commented on #207
#402

[2019-11-20 19:36] #207 closed

[2019-11-21 03:15] pablopenton opened #544 "Cisco IOS Show MAC Address-Table Errors on Last Line"
##### ISSUE TYPE

 - Bug Report

##### TEMPLATE USING

Value DESTINATION_ADDRESS ([0-9a-fA-F]{4}\.[0-9a-fA-F]{4}\.[0-9a-fA-F]{4})
Value TYPE (\w+)
Value VLAN (\w+)
Value DESTINATION_PORT (\S+)

Start
  ^Destination\s+Address\s+Address\s+Type\s+VLAN\s+Destination\s+Port -> TYPE1
  ^\s+vlan\s+mac address\s+type\s+learn\s+age\s+ports -> TYPE2
  ^\s+vlan\s+mac address\s+type\s+protocols\s+port -> TYPE

[2019-11-21 11:34] martino76 opened #545 "cisco_nxos_show_version does not display N5K platform"
It seems like show_nxos_version template doe not collect N5K platform. Return date has none for platform.
`{'uptime': '749 day(s), 15 hour(s), 5 minute(s), 8 second(s)', 'last_reboot_reason': 'Disruptive', 'os': '7.1(4)N1(1)', 'boot_image': 'bootflash:///n5000-uk9-kickstart.7.1.4.N1.1.bin', 'platform': ''}`

[2019-11-21 11:36] itdependsnetworks commented on #545
Can you provide the actual raw "show version" from this device?

[2019-11-21 11:39] martino76 commented on #545
sorry please see below raw output
`TAC support: http://www.cisco.com/tac
Documents: http://www.cisco.com/en/US/products/ps9372/tsd_products_support_series_home.html
Copyright (c) 2002-2016, Cisco Systems, Inc. All rights reserved.
The copyrights to certain works contained herein are owned by
other third parties and are used and distributed under license.
Some parts of this software are covered und

[2019-11-21 12:09] martino76 commented on #545
I added following to the template ^\s+cisco\s+Nexus\s+${PLATFORM}\s+[cC]hassis and is working now

[2019-11-21 13:31] itdependsnetworks commented on #545
Can you edit the field and put it into proper triple backticks? I am concerned your solution will trip up other working use cases.

[2019-11-21 14:06] danielgurau opened #546 "cisco_asa_show_failover_state"
##### ISSUE TYPE

 - Template Creation Help

##### TEMPLATE USING
New template to be added for asa show failover state

##### SAMPLE COMMAND OUTPUT
[code]

##### SUMMARY
The show failover command produces errors for different modules that are available and this will be an easier way to get details for role, state, mate_state

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL R

[2019-11-21 14:07] danielgurau commented on #546
State          Last Failure Reason      Date/Time
This host  -   Secondary
               Active         None
Other host -   Primary
               Standby Ready  Ifc Failure              16:01:23 UTC Nov 5 2019
                              il2-admin skyscape_admin: Failed

====Configuration State===
        Sync Done - STANDBY
====Communication State===
        Mac set

[2019-11-21 15:26] danielgurau opened #547 "ASA show failover bug when using IPS module"
##### ISSUE TYPE

 - Bug Report

##### TEMPLATE USING
[code]

##### SAMPLE COMMAND OUTPUT

[code]

##### SUMMARY
When running ssh_conn.send_command('show failover', use_textfsm=True), I get an error:
[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Expected this to run and not return ERROR

##### ACTUAL RESULTS

[code]

[2019-11-23 20:42] jmcgill298 opened #549 "Need to add tests parse.py module"
The TextFSM/CliTable wrapper functions need tests added as part of pytest execution

[2019-11-23 20:54] jmcgill298 opened #550 "Testing that test cases exist has an exception for 4 templates that need to be rectified"
Need to look into test cases for https://github.com/networktocode/ntc-templates/blob/8298de4ae064abe92f941b7f14f78002ec9a303c/tests/test_testcases_exists.py#L9

Need to remove exceptions here: https://github.com/networktocode/ntc-templates/blob/8298de4ae064abe92f941b7f14f78002ec9a303c/tests/test_testcases_exists.py#L36

[2019-11-26 14:36] #550 closed

[2019-11-26 19:43] jmcgill298 commented on #469
Thanks for the interest, we discussed this some more, and we think it is best to not include the show run commands as that will be difficult to capture all possible outputs, and will cause Errors when parsing the output.

[2019-11-26 19:43] #469 closed

[2019-11-27 16:45] #171 closed

[2019-12-04 18:40] #544 closed

[2019-12-10 22:26] FragmentedPacket opened #556 "Bug: Alcatel SROS show service id index issue"
##### ISSUE TYPE

 - Bug Report

##### Command Output
[code]

Index file:
`alcatel_sros_show_service_id_base.textfsm, .*, alcatel_sros, sh[[ow]] serv[[ice]] id ba[[se]]`

If changed to the following, it parses correctly:
`alcatel_sros_show_service_id_base.textfsm, .*, alcatel_sros, sh[[ow]] serv[[ice]] id (\d+) ba[[se]]`

##### SUMMARY
The command on this version appears to require an ID between i

[2019-12-23 17:54] h4ndzdatm0ld commented on #556
Thanks for the bug submission.
This command will never be used without specifying a service id numeric value.
The command is _only_ used to view specific service ID information, without specifying a service ID, an error will return.

[2019-12-28 19:23] jmcgill298 commented on #556
Thanks @h4ndzdatm0ld

[2019-12-28 19:23] #556 closed

[2020-01-01 17:28] wmclendon opened #566 "regex to match whitespace, words, or mix of both, and cut off trailing whitespace?"
##### ISSUE TYPE

 - Template Creation Help

##### TEMPLATE USING

[code]

##### SAMPLE COMMAND OUTPUT

[code]

##### SUMMARY

Due to possibility of Name or OS (and possibly Role, not 100% sure yet) having spaces between strings (or just be spaces if name or OS is unknown), my current regex ends up with name for example being '[lots of spaces here]' or similar.  Presently I work around that by jus

[2020-01-02 01:45] jmcgill298 commented on #566
Do you have a branch that I could pull down and work off of?

[2020-01-02 02:12] wmclendon commented on #566
I think I got it figured...at least with the output I have as an example from my IAP here locally.  Thank god for online regex matchers.  finally found one and started figuring out how to use it and compare against all the rows in my sample:

[code]

[2020-01-17 17:09] FragmentedPacket commented on #546
@danielgurau Do you have anything started for this new template?

[2020-01-17 18:01] FragmentedPacket commented on #566
@wmclendon Just wanted to follow up on this. Did you get this working? And is this a template you'd like to submit into the repo?

[2020-01-17 18:03] #545 closed

[2020-01-17 18:07] FragmentedPacket commented on #382
I'm going to go ahead and close this issue. If you'd like to revisit this and need some help, please reach out via another issue or on our public Slack.

[2020-01-17 18:07] #382 closed

[2020-01-22 14:51] #547 closed

[2020-01-24 19:12] #396 closed

[2020-01-30 19:57] centove opened #588 "arista_eos_show_ip_route.textfsm fails on vrrp route display"
##### ISSUE TYPE
 - Bug Report

##### TEMPLATE USING
Value Filldown VRF (\S+)
Value Filldown PROTOCOL (\S+\s\S+?|\w?)
Value Filldown NETWORK (\d+.\d+.\d+.\d+)
Value Filldown MASK (\d+)
Value DISTANCE (\d+)
Value METRIC (\d+)
Value DIRECT (directly)
Value Required NEXT_HOP (connected|\d+\.\d+\.\d+\.\d+)
Value INTERFACE (\S+)

Start
  ^\s+${PROTOCOL}\s+${NETWORK}/${MASK}\s+(?:\[${DISTANCE}/${METRIC}

[2020-01-31 16:57] FragmentedPacket commented on #588
Can you test PR #589 ? I used the same format, but maybe you have a command with more routes to test on as well.

[2020-02-04 17:41] #588 closed

[2020-02-24 19:49] JoeyG1973 opened #601 "cisco_nxos_show_vlan does not show ports, thank god cisco_ios_show_vlan works"
##### ISSUE TYPE

 - Bug Report

##### TEMPLATE USING

[code]

##### SAMPLE COMMAND OUTPUT

[code]

##### SUMMARY

show vlan on nxos is not listing interfaces when parsed with platform cisco_nxos.  platform cisco_ios appears to work as expected

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I expected to get the same results when using platform cisco_ios.
[code]
##### ACTUAL RESULTS

[

[2020-02-28 15:59] FragmentedPacket commented on #601
@JoeyG1973 This should be fixed with #604. Do you mind testing?

[2020-02-28 16:31] JoeyG1973 commented on #601
I was just about to dig in and fix this myself... let me grab the code and check it out

[2020-03-02 17:36] #601 closed

[2020-03-09 00:36] fraserc182 opened #613 "parse_output returns empty after interface has been modified by first run of script"
##### ISSUE TYPE
 - Bug Report

##### TEMPLATE USING

[code]

##### SAMPLE COMMAND OUTPUT

[code]

##### SUMMARY
I have the following code:

[code]

When I run this once, it will give me the desired output.
When I run the exact same code again, sh_int_parsed contains no data and then the script will end because there is no data for the for loop to go over.

##### STEPS TO REPRODUCE

Run the above

[2020-03-09 01:48] FragmentedPacket commented on #613
@fraserc182 This is due to the template. I've submitted PR #614 to solve your issue.

I will try and cut a new release this week as we've submitted quite a few changes since our last release.

For now, you may just have to install via the master branch to work around this issue or use the built-in `use_textfsm` option within Netmiko and have your `NET_TEXTFSM` variable point to clone of this repo.

[2020-03-09 02:27] FragmentedPacket commented on #566
@wmclendon I'm going to go ahead and close this. If you'd like to contribute the template back into `ntc-templates`, please submit a PR.

[2020-03-09 02:27] #566 closed

[2020-03-09 02:35] #613 closed

[2020-03-09 10:24] fraserc182 commented on #613
@FragmentedPacket thank you very much for fixing this so quickly. I've just tested and now my code runs without any issues.

[2020-03-10 06:11] ainamori opened #621 "Juniper Junos add fpc:X, {master:X} for many commans stdout"
I use the latest ntc-templates by ansible.
However, some commands got parse error due to virtual chassis information.

##### ISSUE TYPE
 - Bug Report

##### TEMPLATE USING
juniper_junos_version

##### SAMPLE COMMAND OUTPUT

- ansible output with -vvv
[code]

##### SUMMARY
The template doesn't allow "fpc0:", "-----" and "{master:0}".
I found some templates doesn't allow "{master:0}.

##### STEPS TO

[2020-03-13 23:36] FragmentedPacket commented on #621
Fixed via #622

[2020-03-13 23:36] #621 closed

[2020-03-18 01:11] jvanderaa opened #624 "Create Template for Cisco ASA - show vpn-sessiondb anyconnect"
##### ISSUE TYPE

 - Bug Report

##### TEMPLATE USING

[code]

##### SAMPLE COMMAND OUTPUT

New
[code]

##### SUMMARY

Documenting issue for attempting to build new template for ASA anyconnect

Command output:

[code]

[2020-03-18 03:35] #624 closed

[2020-03-18 22:11] jvanderaa opened #627 "Cisco ASA Show interface does not catch unnamed interfaces"
##### ISSUE TYPE

 - Bug Report

##### TEMPLATE USING

[code]

##### SUMMARY

When executing the show interface, even though the output has several interfaces, only those with a nameif assigned to them are being returned.

I have the start of a fix, but will also spend time to get the full cleanup done on the template to match what we have in place for newer templates.

[2020-03-25 15:35] jvanderaa opened #630 "Cisco ASA AnyConnect Errors with Tunnel Group on different line"
##### ISSUE TYPE

 - Bug Report

##### TEMPLATE USING

[code]

##### SAMPLE COMMAND OUTPUT

[code]

##### SUMMARY

- Tunnel group is on a different line
- Stuck user session error

[2020-03-25 16:36] #630 closed

[2020-03-30 12:48] Lasselasse2 opened #634 "New template: hp_comware_display_interface_textFSM"

[2020-04-01 23:41] asoltes opened #639 "template request: show ip bgp neighbors x.x.x.x advertised-routes"
##### ISSUE TYPE

 - Feature Idea

[2020-04-06 13:00] michaeljbailey opened #642 "Cisco IOS Show Interface Switchport does not parse multi-line VLAN Trunks"
##### ISSUE TYPE
-  Bug Report

##### TEMPLATE USING
[code]

##### SAMPLE COMMAND OUTPUT
[code]

##### SUMMARY
The current NTC template does not handle VLAN trunks which spill over onto multiple lines.

##### STEPS TO REPRODUCE
The template was executed using Netmiko `send_command` with `use_textfsm=True` against a switch with the following switchport configuration:

[code]

##### EXPECTED RESULTS

[2020-04-07 08:13] angelademo2020 opened #643 "Unable to parse data by using "cisco_ios_show_ip_route_summary.textfsm""
##### ISSUE TYPE

 - Bug Report

##### TEMPLATE USING
[code]

##### SAMPLE COMMAND OUTPUT
[code]

##### SUMMARY

##### STEPS TO REPRODUCE

1. generate an text file from ansible
2. with some commands for example:
`show clock` and `show ip route summary`
3. the text file should contains the output of `show clock` and `show ip route summary`
4. parse the text file
5. got Traceback error on `show ip r

[2020-04-07 15:16] cdwchriburg opened #644 "cisco_ios_show_ip_interface does not deal with ip address negotiated on Tunnel interface"
##### ISSUE TYPE
 - Bug Report

##### TEMPLATE USING
[code]

##### SAMPLE COMMAND OUTPUT
[code]

##### SUMMARY
When parsing `show ip interfaces` on a device with a tunnel configured with `ip address negotiated` the config fails to parse using the ntc-template for this command.

##### STEPS TO REPRODUCE

Configure tunnel:
[code]
Get show ip interface output using ntc-templates with TextFSM parsing

[2020-04-09 09:01] fatred opened #646 "Cisco ASA show_route parsing for alternative multiline format"
##### ISSUE TYPE
 - Bug Report

##### TEMPLATE USING

[code]

##### SAMPLE COMMAND OUTPUT

[code]

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

should get
- 0.0.0.0 via 192.168.1.2
- 10.15.0.0 via 172.52.64.1
- 172.23.100.0 via 172.52.64.1
- 172.23.42.0 via 172.17.13.51
- 172.23.42.0 via 172.17.13.52
- 172.17.13.0 Connected
- 172.17.13.60 Local

##### ACTUAL RESULTS

on

[2020-04-09 15:06] ansible75013 opened #648 "Template Creation Help: cisco_xr_admin_show_environment_power to get power supply, voltage and current"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Template Creation Help
 - Documentation Report

##### TEMPLATE USING

[code]

##### SAMPLE COMMAND OUTPUT

[code]

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2020-04-13 20:56] ariesgeek opened #649 "Beginning of output for cisco_ios "show ip ospf database <lsa-type>" may or may not be a space character"
##### ISSUE TYPE
 - Bug Report

##### TEMPLATE USING

[code]

##### SAMPLE COMMAND OUTPUT

The observed output via the CLI is misleading, as illustrated below, using Netmiko to get the output of ```show ip ospf database router```

[code]

The above code snippet will result in the output that follows.  Note that the first character of the output is a non-space character.

[code]

##### SUMMARY

**N

[2020-04-14 19:27] FragmentedPacket commented on #649
Sounds good. Looking forward to your PR!

[2020-04-14 23:08] ariesgeek commented on #649
Done and done, Pull Request: #650

Thank you!

[2020-04-15 01:03] #649 closed

[2020-04-15 01:15] #646 closed

[2020-04-17 18:27] vinto123 opened #653 "show_vlan template for cisco ios does not return more than 60 interfaces"
##### ISSUE TYPE

 - Bug Report

##### TEMPLATE USING

cisco_ios_show_vlan.textfsm
[code]
##### SUMMARY

If a cisco 9k (any cisco ios device for that matter) switch has more than 60 ports on it, this parser does not return whole list of ports. I see it is hard-coded to get only first 60 ports.
##### STEPS TO REPRODUCE

pass output of 'show vlan' to this parser and check list of ports in List INTER

[2020-04-19 22:51] FragmentedPacket commented on #653
Do you mind providing output with more than 60 ports?

[2020-04-21 00:26] delhipnr opened #655 "platform="cisco_ios", command="sh ip route summary" returning an empty array."
from ntc_templates.parse import parse_output
from pprint import pprint

showiproute = """
IP routing table name is default (0x0)
IP routing table maximum-paths is 32
Route Source    Networks    Subnets     Replicates  Overhead    Memory (bytes)
connected       0           3           0           180         540
static          0           0           0           0           0
bgp 65000       0

[2020-04-21 02:19] FragmentedPacket commented on #655
@delhipnr Can you provide the real format of the command? I'd like to compare it to the data we have in tests and then what error are you experiencing?

[2020-04-21 06:51] delhipnr commented on #655
show IP route summary

[2020-04-21 12:56] delhipnr commented on #655
it is NOT similar to as I am getting nothing.
https://github.com/networktocode/ntc-templates/issues/643

[2020-04-21 13:01] delhipnr opened #657 "cisco_ios_show_mac-address-table.textfsm "N/A" in vlan field."
note: macs are set to 0000.0000.0000 due to security reason on production device.

switch>show version
Cisco IOS Software, c6880x Software (c6880x-IPSERVICESK9-M), Version 15.5(1)SY3, RELEASE SOFTWARE (fc5)
switch>show ip vrf
#around 5 vrfs

switch>show mac address-table

Legend: * - primary entry
        age - seconds since last seen
        n/a - not available
        S - secure entry
        R

[2020-04-21 14:32] delhipnr commented on #655
it is NOT similar to as I am getting nothing.
#643 Shared in below post

[2020-04-21 14:48] FragmentedPacket commented on #655
Yeah that is definitely odd as the template has `^. -> Error` within it.

Can you grab the actual output from the device and wrap it in triple backticks here? The formatting of what you provided doesn't match any other output we have as normally the `External: 0 Internal: 0 Local: 0` is indented under BGP.

Trying to help you out here, but definitely need more information.

[2020-04-21 14:49] FragmentedPacket commented on #657
Can you do similar for this one as well? Provide the actual output from the device and wrap in triple backticks?

[2020-04-21 14:50] FragmentedPacket commented on #643
Can you please provide the raw output of this command? I assume it's changed somehow and we need to account for it, but want to make sure we're updating the template against real data.

[2020-04-21 15:23] delhipnr commented on #657
from ntc_templates.parse import parse_output
from pprint import pprint

indata = """

Legend: * - primary entry
        age - seconds since last seen
        n/a - not available
        S - secure entry
        R - router's gateway mac address entry
        D - Duplicate mac address entry
        # - Fabric mac address entry. Clear mac cli doesn't clear this entry

Displaying entries from active s

[2020-04-21 21:57] delhipnr commented on #655
from ntc_templates.parse import parse_output
from pprint import pprint

indata = """
IP routing table name is default (0x0)
IP routing table maximum-paths is 32
Route Source    Networks    Subnets     Replicates  Overhead    Memory (bytes)
connected       0           85          0           5780        15640
static          8           219         0           15436       41768
application     0

[2020-04-21 22:04] delhipnr commented on #657
it also has "R N/A" . Sharing a 2015 post here
https://community.cisco.com/t5/switching/suspicious-mac-address-entires-and-mac-address-table/td-p/2769966

R N/A 0008.e3ff.fc28 static No - Router
* 2 f4ce.46ba.d47e dynamic Yes 0 Te1/5/7
R N/A 0008.e3ff.fc28 static No - Router
* 2 0008.e0ff.fc28 dynamic Yes 0 Po11
R N/A 0008.e3ff.fc28 static No - Router
R 2 0008.e3ff.fc28 static No - Router

[2020-04-21 23:37] FragmentedPacket commented on #655
The formatting still seems off with the indention to be honest.

Does the output you're providing here match what you see on the device?

I'd expect you could log into the device and then copy and paste it here wrapped in triple backticks and it would have the proper indentation.

[code]

I am curious as well that it is not parsing anything so maybe that is more of the smoking gun at this point.

[2020-04-21 23:39] FragmentedPacket commented on #657
This should be a pretty simple fix. Could you do me a favor and follow the directions from the following link to wrap the output in a code block? https://help.github.com/en/github/writing-on-github/creating-and-highlighting-code-blocks

I can then fix your issue and add a test with that data to make sure we don't break this functionality moving forward.

[2020-04-22 04:34] delhipnr commented on #657
I am sorry don't use formatting frequently. Here it is and thank you again.
[code]

[2020-04-22 04:41] delhipnr commented on #655
[code]

[2020-04-22 04:45] delhipnr commented on #655
[code]

[2020-04-22 10:43] raikone14 opened #658 "Problem to add or install ntc-templates:"
I installed the ntc-templates with git clone into my project folder, but didnt work.
[https://ibb.co/K9wm1Ys](url)
but still ask me to install...
I also tried to add the variable:
[https://ibb.co/bgWP55g](url)

but still the same error, thanks for any help.

[2020-04-22 13:48] FragmentedPacket commented on #655
Ok that is what I suspected. The template you're not getting any output for is not in the 1.4.0 package of ntc-templates as it was just added 22 days ago.

I'll try and cut a new release soon to get you that. You can always `git clone` the repo for the latest updates.

Here is my script that I use:

[code]

[2020-04-22 14:06] FragmentedPacket commented on #657
Thank you! I will try and get a fix for this submitted within the next day or two.

[2020-04-22 16:25] vinto123 commented on #653
VLAN Name                             Status    Ports
---- -------------------------------- --------- -------------------------------
1    default                          active    Te1/3, Te1/4
2    myvlan                         active      Gi2/2, Gi2/3, Gi2/4, Gi2/5, Gi2/6, Gi2/7, Gi2/8, Gi2/9, Gi2/10, Gi2/11
                                                Gi2/12, Gi2/13, Gi2/14, Gi2/15, Gi2/16

[2020-04-22 16:27] vinto123 commented on #653
Sorry, i could not make it look like cli output as it is.
Below is screenshot if it helps.
![image](https://user-images.githubusercontent.com/10999410/80007654-6810d980-847b-11ea-8181-49b560b3a5aa.png)

[2020-04-22 16:30] FragmentedPacket commented on #653
You can copy and paste out of console and then surround it in triple backticks.

https://help.github.com/en/github/writing-on-github/creating-and-highlighting-code-blocks

I will try and get some work done on this soon :)

[2020-04-22 18:57] delhipnr commented on #655
Thank You it is work.

[code]

[2020-04-23 03:25] FragmentedPacket commented on #658
Do you mind providing more information?

What project are you attempting to use and what tool is saying ntc-templates is not installed?

[2020-04-23 03:27] #657 closed

[2020-04-23 03:47] FragmentedPacket commented on #655
I'll be releasing 1.4.1 tonight so you can pip install the newest version to use the same method you've been using although I would suggest the `git` route.

[2020-04-23 03:47] #655 closed

[2020-04-23 04:28] delhipnr commented on #643
Hi Thank you so much for a quick commitment. Now it is working.

[code]

[2020-04-23 10:37] georgesnow opened #662 "Ciena naming doesn’t conform to Netmiko"
In testing with Nornir/Netmiko using textfsm against ciena network devices they fail. If you rename them to conform they will work with Netmiko. I discovered this while working on some additional templates. I have adjusted the names in my fork for when I put in merge request.

from:

ciena_6x

To:

ciena_saos

[2020-04-23 14:27] raikone14 commented on #658
Hey thanks for repply and sorry for the lack of information.
I am using pycharm as IDE and doinf a simple project with netmiko to get some info from a cisco ios device.
First I tried to install via pycharm , just select into my project.
After I tried to do a git clone from my project folder, as you can see in the pic I have  the ntc templates into my project folder, but also didnt work.
And I also

[2020-04-23 14:56] smk4664 commented on #662
I believe Netmiko is right here, the os is saos, 6x is the version number.

[2020-04-23 15:23] georgesnow commented on #662
as reference

https://github.com/ktbyers/netmiko/tree/master/netmiko/ciena

[2020-04-23 19:50] FragmentedPacket commented on #643
Thanks for the report!

[2020-04-23 19:50] #643 closed

[2020-04-23 19:50] FragmentedPacket commented on #648
Have you attempted at making the template and stuck at a certain point?

[2020-04-23 20:46] delhipnr opened #663 "cisco_ios BGP neighbor advertised and received routes request."
Hi,

I am requesting a new feature in ntc_template "cisco_ios" family. Can you please check if there is a way to get the routes that we are advertising to a specific neighbor within or without a VRF? I am sending both commands output from device a cisco testing router with vrf (name is "part" it could be anything) and without VRF.

This is what we are receiving from a BGP neighbor in a specific VR

[2020-04-23 20:49] jmcgill298 commented on #658
have you tried using `pip install ntc-templates`?

[2020-04-23 20:57] delhipnr opened #664 "cisco_ios neighbor summary per address family new request."
In continuation to #663 request you to also check feasibilities to get the neighbor table per address family.  Like unicast, multicast, and VPNV4. as of now "show ip bgp summary" is working like anything but it is limited to unicast family. I am sharing below per family command output with you for reference.

[code]

And this is what we have for now working. but limited to unicast default table.

[2020-04-27 00:02] delhipnr commented on #663
I Just want to check on it. Please correct me if i am not requesting NEW FEATURES in correct forum, Or if i need to do any additional exercise 😁

[2020-04-27 01:43] hett39 opened #666 "Arista eos - sh ip bgp summ vrf all and sh ip route vrf all template"
Hi , need Arista eos - sh ip bgp summ vrf all and sh ip route vrf all templates

 - Feature Idea

[2020-04-27 02:28] FragmentedPacket commented on #663
@delhipnr We typically don't add in the new features and definitely not within any sort of time frame.

I suggest you take a stab at it as it appears you do notice the only difference between the two appears to be the `Route Distinguisher` line.

If you need help we can definitely offer the help, but looks like you're already on your way.

[2020-04-27 02:31] FragmentedPacket commented on #664
@delhipnr I'm just going to echo my same sentiment on #663 . I'd suggest you take a stab at this and learn some about building/adding to a TextFSM template.

We're available to help in our [public NTC Slack](https://slack.networktocode.com) in the #networktocode channel.

[2020-04-27 02:34] FragmentedPacket commented on #666
@hett39 We typically don't have the time to build templates for everyone and suggest that you take a stab at it and learn some TextFSM. We're available to help and typically have more time to do so.

I believe you're already in our NTC Slack so I'd definitely suggest taking a shot at building the templates and then asking for help in #networktocode.

[2020-04-28 18:48] #662 closed

[2020-04-28 20:00] delhipnr commented on #664
I am very aggressive to learn the ntc template quickly like anything. I am familiar with python regex.

I am unable to open your link
![Screenshot_2020-04-29-01-28-07-99](https://user-images.githubusercontent.com/6277677/80531879-ec51e800-89b8-11ea-8476-c72f4662d00a.png)

[2020-04-28 20:43] FragmentedPacket commented on #664
Try again. I believe the site falls asleep until it gets hit once or twice.

[2020-04-29 04:41] delhipnr commented on #664
networktocode.com is working but slack.networktocode.com is not.

Might be a suburl is not working in the site, can you please check?

[2020-04-29 18:32] centove opened #668 "Arista EOS show ip route parse error"
- Bug Report
##### TEMPLATE USING
templates/arista_eos_show_ip_route.textfsm
Value Filldown VRF (\S+)
Value Filldown PROTOCOL (\S+\s\S+?|\w?)
Value Filldown NETWORK (\d+.\d+.\d+.\d+)
Value Filldown MASK (\d+)
Value Filldown DISTANCE (\d+)
Value Filldown METRIC (\d+)
Value DIRECT (directly)
Value Required NEXT_HOP (connected|\d+\.\d+\.\d+\.\d+)
Value INTERFACE (\S+)

Start
  ^\s+${PROTOCOL}\s+${NET

[2020-04-29 22:16] FragmentedPacket commented on #668
@centove I believe I have it fixed in the PR attached to this. Can you pull it down and test?

[2020-04-29 22:30] FragmentedPacket commented on #644
@cdwchriburg Please test submitted PR and let me know if that fixes your issue.

[2020-04-29 23:34] FragmentedPacket commented on #642
@michaeljbailey I have a PR in to fix this by converting TRUNKING_VLANS to a list, but it won't give you your expected results, that would happen in later parsing of the data.

[2020-04-29 23:38] FragmentedPacket commented on #634
@Lasselasse2 Do you mind providing more info about this? Raw output would be nice. There is also new templates being added so not sure if one exists for the one you're looking for, but looks to be display_ip_interface

[2020-04-29 23:39] FragmentedPacket commented on #627
@jvanderaa How's this going?

[2020-04-29 23:40] FragmentedPacket commented on #639
Do you mind providing more information for this? OS, raw output, etc? This may just need to be updated in an existing template, but not much information to go off of to address it.

[2020-04-29 23:40] michaeljbailey commented on #642
@FragmentedPacket thanks, let me see if I can pull up how I tackled this. I may be able to provide a regex that can somewhat solve this as I had to put in a local fix.

It also doesn't make a huge difference to me to need a postprocessing step. I am already structuring my code in such a way to normalize data before I ship it off to other consumers.

[2020-04-29 23:49] FragmentedPacket commented on #653
@vinto123 I loaded your data and it appears to capture 94 interfaces.

[code]

Am I misunderstanding your issue?

[2020-04-30 14:52] asoltes commented on #639
![image](https://user-images.githubusercontent.com/52017443/80724842-e1bc5d80-8b34-11ea-92af-6aef3d7a5ff4.png)

Hi @FragmentedPacket something like this. the blue marker is a network address like: 192.168.11.0/24 it was the prefix advertised to your bgp neighbor.  Thanks

[2020-04-30 17:20] cdwchriburg commented on #644
Yes, the PR appears to fix the issue.

Thanks!

[2020-04-30 22:45] #644 closed

[2020-05-01 17:45] asoltes commented on #639
Dummy Router#show ip bgp neighbors 172.17.55.13 advertised-routes
BGP table version is 143173748, local router ID is 192.168.88.2
Status codes: s suppressed, d damped, h history, * valid, > best, i - internal,
              r RIB-failure, S Stale, m multipath, b backup-path, f RT-Filter,
              x best-external, a additional-path, c RIB-compressed,
              t secondary path,
Origin code

[2020-05-01 17:54] FragmentedPacket commented on #639
Do you get structured data parsing this with `show_ip_bgp`?

[2020-05-01 18:42] asoltes commented on #639
I tried the command show ip bgp but it takes forever to load maybe because of the thousands of routes. i tried the show ip bgp neighbors but i did not get the structured data. see the output below.
![image](https://user-images.githubusercontent.com/52017443/80832069-91b9c580-8c1e-11ea-955c-43aab0b1d36e.png)

[2020-05-01 18:55] FragmentedPacket commented on #639
Ok no problem. I'll have to take a look at some point to see what the differences are and whether it's worth another template or adding any use cases that don't already exist in that template.

[2020-05-01 19:03] asoltes commented on #639
@FragmentedPacket  Again, Thank you for the efforts and for making all of the templates.

[2020-05-02 23:02] FragmentedPacket commented on #639
@asoltes I submitted a new PR for this. So i'll have Jacob review it and if everything looks good we'll merge it.

[2020-05-03 14:18] #668 closed

[2020-05-03 14:36] FragmentedPacket commented on #663
@delhipnr I submitted a PR for this. Does this work as you'd expect?

[2020-05-03 14:40] FragmentedPacket commented on #664
@delhipnr I'm not sure why it's not working for you. Maybe try on mobile data or if you have browser extensions?

[2020-05-03 14:59] FragmentedPacket commented on #664
@delhipnr I submitted a PR for this so if you want to let me know if it is what you're looking for.

[2020-05-04 13:54] prochobo opened #683 "Cisco show cdp neighbor details leaves whitespace in capabilities field"
- Bug Report

##### TEMPLATE USING

[code]

##### SAMPLE COMMAND OUTPUT

Private details omitted
[code]

##### SUMMARY

See title

##### STEPS TO REPRODUCE

Using netmiko
[code]

##### EXPECTED RESULTS

Capabilities field should not have the whitespace at the end of "Switch IGMP".

##### ACTUAL RESULTS

[code]

[2020-05-04 18:54] FragmentedPacket commented on #683
@prochobo Can you try the attached PR and let me know if that solves your issue?

[2020-05-05 13:03] prochobo commented on #683
That fixed it. The trailing whitespace is gone. Thanks!

[2020-05-05 13:10] #683 closed

[2020-05-05 13:20] FragmentedPacket commented on #642
@michaeljbailey Just checking in. Can you provide what you did?

[2020-05-05 17:17] moderatelo opened #686 "textfsm.parser.TextFSMError: State Error raised. Rule Line: 15. Input Line: show ip arp"
I ran into similar issue here.
which appears to be related to "show ip arp" template on Cisco IOS platform
When I run it with text-FSM enabled i get this error
Traceback (most recent call last):
File "./doConfigs.py", line 200, in
Run_show_Commands_TextFSM(connectToSW)
File "./doConfigs.py", line 123, in Run_show_Commands_TextFSM
output = connected_to.send_command('show ip arp', delay_factor=1, ma

[2020-05-05 20:22] FragmentedPacket commented on #686
This is most likely to the command being in the output. Do you mind providing the output and the relevant part of the script? I believe we have version 1.4.1 available as well if you want to try that, but not sure that will help.

[2020-05-05 21:31] ariesgeek opened #690 "cisco_ios "show ip ospf database router" fails if OSPF domain includes an ASBR or an ABR"
##### ISSUE TYPE

 - Bug Report

##### TEMPLATE USING

NTC template `cisco_ios_show_ip_ospf_database_router.textfsm`

[code]

##### SAMPLE COMMAND OUTPUT

Sample 1:  Single-area OSPF domain with an Autonomous System Boundary Router.

[code]

Sample 2:  Multi-area OSPF domain with an Area Border Router.

[code]

##### SUMMARY

The current template does not account for the appearance of `AS Boundary

[2020-05-06 02:05] FragmentedPacket commented on #690
@ariesgeek Do you mind testing the attached PR to let me know if this solves your issue?

[2020-05-06 21:10] ariesgeek commented on #690
Technically, it fixes the error and it does permit the existence of an ABR and an ASBR.  It also captures the OSPF area if it has changed.  However, there's some key output missing.  In technical terms, router-LSA Bit E ("AS Boundary Router") and Bit B ("Area Border Router") are not included in the TextFSM output, despite being provided in the output of the IOS command.  I point out the technical

[2020-05-07 02:37] FragmentedPacket commented on #690
I can definitely get those new values added and capture the output rather than just accounting for it.

As for the other changes, it follows our current flow on a lot of the existing templates using the fill down. I will capture those with the same values you have and then merge it.

[2020-05-07 03:25] #690 closed

[2020-05-13 20:02] kerwbstomp opened #698 "Having trouble with alcatel_sros templates"
##### ISSUE TYPE

 - Template Creation Help

##### TEMPLATE USING

[code]

##### SAMPLE COMMAND OUTPUT

[code]

##### SUMMARY

It's probably just me being terrible. However:
I tried my stab at creating an alcatel_sros template (nokia_sros) in netmiko. It doesn't seem to catch anything. The format for the files are alcatel_sros_show_port_description.textfsm/raw/yaml in the correct directories as me

[2020-05-13 22:35] itdependsnetworks commented on #698
likely something like: ```Value PORT (\S+)
Value DESCRIPTION (.*?)

Start
  ^=+$$
  ^-+$$
  ^Port\s+Descriptions\s+on\s+Slot\s+1
  ^Port\s+Id\s+Description
  ^${PORT}\s+${DESCRIPTION}$$ -> Record```

I would join the slack channel (as per readme) if further clarification is needed.

[2020-05-13 22:35] #698 closed

[2020-05-19 20:53] #663 closed

[2020-05-19 20:54] #664 closed

[2020-05-19 23:50] asoltes commented on #639
@FragmentedPacket  I saw that the templates is now merged and I am able to update/download the new template but I am not able to parse the data.
see the image below. I am using nornir and netmiko and I am able to parsed the data in command "show ip int br"
but when i tested the show ip bgp x.x.xx. neig advertised-routes its not working. Thanks

[code]

![image](https://user-images.githubuserconten

[2020-05-20 01:04] FragmentedPacket commented on #639
@asoltes I just submitted PR to fix this- #709 . It was the index file that was not correct. Please test though before I merge it in.

[2020-05-20 01:38] asoltes commented on #639
@FragmentedPacket woah that was awesome. I am now able to get the parsed data. Thank you, It will help us a lot in automating our network. stay safe and have a good day :)

![image](https://user-images.githubusercontent.com/52017443/82395146-756eb300-9a7d-11ea-8496-391411ce7f67.png)

[2020-05-20 15:47] FragmentedPacket commented on #639
@asoltes I didn't catch that the tests weren't passing. I had to make some changes to the template names and index file as well.

Do you mind testing again and letting me know? I will merge it once tested and be cutting a new release hopefully this week.

[2020-05-20 16:33] #639 closed

[2020-05-21 11:45] alepodj opened #714 "show mac address-table no dictionary in response"
#### ISSUE TYPE

 - Bug Report? Not certain is an actual bug, i could be doing something wrong!

#### Context

[code]

##### TEMPLATE USING

[code]

##### SAMPLE COMMAND OUTPUT

[code]

##### SUMMARY

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]
##### ACTUAL RESULTS

[code]

[code]

[2020-05-21 12:21] itdependsnetworks commented on #714
When parsing, there is an assumption that the template receives the entire output. At times, I am sure there is no effect by using an include as you have here, but in this case it does. The header is used to determine which of the four different potential table outputs you could have.

[2020-05-21 12:22] itdependsnetworks commented on #714
If you have any other questions, likely easier to continue convo on Slack, can sign up here: https://networktocode.herokuapp.com/ and best to ask on the #networktocode channel within that slack community.

[2020-05-21 12:22] #714 closed

[2020-05-21 12:24] itdependsnetworks commented on #686
Would need output to continue, feel free to reopen ticket if you add that output to the issue.

[2020-05-21 12:27] itdependsnetworks commented on #653
Pending feedback, closing issue for now, feel free to open back up if you can provide more context on the issue.

[2020-05-21 12:27] #653 closed

[2020-05-21 12:28] itdependsnetworks commented on #658
Gone stale, if there is still an issue, feel free to reopen ticket.

[2020-05-21 12:28] #658 closed

[2020-05-21 13:06] moderatelo commented on #686
So the original output is the Error I had received which I provided.
when it works the output is what normal "show ip arp" command provides on the routes which is IP to MAC address table.
here is the original template itself

Value Required PROTOCOL (\S+)
Value Required ADDRESS (\d+\.\d+\.\d+\.\d+)
Value Required AGE (\S+)
Value Required MAC (\S+)
Value Required TYPE (\S+)
Value INTERFACE (\S+)

S

[2020-05-21 13:13] alepodj commented on #714
Yeah i see now, piping the show mac address-table command responds without table header. What a bummer from Cisco :)

[2020-05-21 14:28] alepodj opened #715 "show mac address-table Error: State Error raised. Rule Line: 41."
#### ISSUE TYPE

 - Bug Report? Not certain is an actual bug, i could be doing something wrong!

#### Context

[code]

##### TEMPLATE USING

[code]

##### SAMPLE COMMAND OUTPUT

[code]

##### SUMMARY

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[code]

[2020-05-21 16:51] itdependsnetworks opened #716 "Creation of a Faq"
##### ISSUE TYPE

 - Documentation Report

##### SUMMARY

There is currently some misunderstood aspects to the library, suggesting to build a FAQ, can think of the following:
* Why require the `Error` at the end of each line?
* Why is the impact of being a parsing engine, and not a data modeling engine?
  * Post processing is implied
  * Keys between vendors do not always match up
* Why is the ind

[2020-05-21 17:52] rapowell opened #718 "Cisco IOS - textfsm.parser.TextFSMError: State Error raised. Rule Line: 17."
##### ISSUE TYPE

 - Bug Report

##### TEMPLATE USING

cisco_ios_show_interfaces_description.textfsm
[code]

##### SAMPLE COMMAND OUTPUT

[code]

##### SUMMARY

When attempting to parse the output from the sh int desc (show interface description) command on Cisco IOS, I get an Error as shown below.  I attempted to modify the template as follows, but that did not fix the issue
[code]
##### STEPS TO

[2020-05-21 17:54] Yakuza-UA commented on #716
Great idea.
If there was a detailed FAQ, it would save me a lot of time and would help to avoid unnecessary commits and re-work. I nearly gave up by now.

By the way, I am sure you wanted to say

- Why require the Error at the end of **each section**?

[2020-05-21 17:56] itdependsnetworks commented on #718
Can likely change `Value STATUS (up|down|admin\s+down)` -> `Value STATUS (up|down|admin\s+down|deleted)` and put in a PR for the same.

[2020-05-21 18:07] jmcgill298 commented on #715
This was fixed in https://github.com/networktocode/ntc-templates/commit/66d5f458685f5f1f371516c8dd2b0e53946d37ff

[2020-05-21 18:07] #715 closed

[2020-05-21 18:23] rapowell commented on #718
I tried that and I still get the error

[2020-05-21 18:51] alepodj commented on #715
So is this error specific to me? Cause i still get it and i have the latest updates

[2020-05-21 19:26] jmcgill298 commented on #715
I'm not sure how you installed the templates, but if you did a git clone, then you can just pull down the latest updates. If you installed the templates in another way, then you would have to replicate the update into your environment.

[2020-05-21 19:29] jmcgill298 commented on #715
It doesn't appear that Netmiko is using the template that you have with the updates. I took your data and used it against the current template, and it parsed fine for me.

[2020-05-21 20:40] FragmentedPacket commented on #718
@rapowell What you have in your post and what @itdependsnetworks stated works. I would look into how Netmiko is pulling those templates and where it is looking for those and make sure you made the change in the correct location.

I can submit a PR to push the fix up, but if you haven't had the experience of doing so, we typically recommend.

[2020-05-21 21:08] FragmentedPacket commented on #686
@moderatelo Try changing `strip_command` to `True` or omitting as I believe `True` is the default.

[2020-05-21 22:45] rapowell commented on #718
@FragmentedPacket and @itdependsnetworks - Thanks for the feedback and validation that what I thought should work should work.  On a related not, I had also tried to modify the index file because the "_show cdp neighbors detail_" command wasn't parsing the output when I entered it as "_sh cdp nei det_" and even after changing it in the index file it didn't seem to pick up the change.  I'll attempt

[2020-05-21 23:00] ktbyers commented on #718
Should be detailed here:

https://pynet.twb-tech.com/blog/automation/netmiko-textfsm.html

But basically you need to set the NET_TEXTFSM environment variable (and point to directory containing the TextFSM index file).

There is PR to use the PIP-package, but I haven't got the review of that done yet.

[2020-05-21 23:04] rapowell commented on #718
@ktbyers Thanks for the update.  Now I need to work out how to make that happen on a Windows machine that I don't have admin rights to.

[2020-05-21 23:48] rapowell commented on #718
I think I figured it out in case anyone else encounters this problem, this is what I did.
[code]
Now I need to verify this will work inside a script and I will have a good workaround.  Thanks.

[2020-05-22 16:22] jmcgill298 commented on #686
@moderatelo The `. -> Error` line is there to ensure that we are capture all of the data. If that line did not exist, then a change in the output would mean that the template would incorrectly report the results. The Error it raises does tell you what line of output it failed to parse, so it is easy enough to update the template for the additional output.

As @FragmentedPacket mentioned, and as th

[2020-05-22 16:25] FragmentedPacket commented on #716
@Yakuza-UA Since you just went through a lengthy process with submitting several templates, do you mind providing a bit of feedback as to what would've helped simplify the process that we can include in the FAQ?

[2020-05-22 16:34] alepodj commented on #715
Spot on! Thanks @jmcgill298 i manually downloaded the templates folder and copied/replaced the one in the python package as well as the parse.py and init.py for good measure and lo and behold it now works :)

Interesting part i only installed this package via package via pip and never touched it, so that's a head scratcher...but nonetheless is working now. Thanks a lot for the assist!

Cheers

[2020-05-22 17:10] #718 closed

[2020-05-22 17:56] jmcgill298 commented on #715
well pip installed the official release on PyPI. The update was pretty recent, and so PyPI has not had a new release added yet.

[2020-05-24 17:24] alepodj opened #726 "Broadcom ICOS/Fastpath Support?"
##### ISSUE TYPE

 - Template Creation Help

##### Question

- Broadcom ICOS/Fastpath

Are these type of devices/os supported? or any of the current supported os templates compatible with them?

I see 'linux' is on the os_choices list, and a show version on these types of devices show linux as the OS but i dont see any template for Broadcom ICOS/Fastpath specifically.

If nothing exists for such,

[2020-05-24 20:45] alepodj opened #727 "Cisco IOS show cdp neighbors issue"
##### ISSUE TYPE

 - Bug Report

##### TEMPLATE USING

[code]

##### SAMPLE COMMAND OUTPUT

OUTPUT1:
[code]

OUTPUT2:
[code]

##### SUMMARY

##### STEPS TO REPRODUCE

When using show cdp neighbors on Router1(Output1) i get the expected output:

[code]

...but on Router2(Output2) i get:

[code]

Main differences i see is Router1 has Device ID value with the domain portion while Router2 doesnt and t

[2020-05-24 21:56] alepodj commented on #727
Going thru the regex i think i found my issue

`0/47` --> https://regex101.com/r/X4KRsB/3

The value im getting in that due it not being a Cisco Switch but a FastpathIOS one doesnt match. Trying to get one that matches both now...or one that matches anything, since im not sure making that specific value strict will affect other non cisco devices, maybe something more generic will be better suited

[2020-05-24 22:18] alepodj commented on #727
https://regex101.com/r/utctz5/1

Even after getting full matches for either case i still cant get the full cdo nei.. output for devices with no domain.com

[2020-05-24 22:23] itdependsnetworks commented on #727
Fast OS as in the Cisco 1900 switch last sold in 02?

[2020-05-24 22:39] alepodj commented on #727
Nop :)

This are relatively new devices.
https://www.broadcom.com/products/ethernet-connectivity/software/fastpath

[code]

[2020-05-26 17:00] FragmentedPacket opened #729 "Move to Poetry for dependency and publishing"
##### ISSUE TYPE

 - Feature Idea

Move to use Poetry for installing the library, dependency management, and publishing to PyPi.

Will need to update docs for installing, update `.travis.yml` for publish on PyPi on tagged releases as well as encrypting the secret used to push to PyPi

[2020-05-26 17:03] FragmentedPacket opened #730 "Define more options in .github_changelog_generator"
##### ISSUE TYPE

 - Feature Idea

This can help us generate a CHANGELOG.md from the commit messages and ease the burden of handcrafting one for each release. Will need to do some research on the options we can define to fall into how we label issues, etc.

[2020-05-26 21:37] micahculpepper opened #731 "cannot import name 'clitable' from 'textfsm'"
##### ISSUE TYPE
 - Documentation Report

Creating this issue for awareness in case folks run into the same problem. There's nothing to be fixed on the NTC end at this time.

##### SUMMARY
ntc-templates depends on textfsm, which hasn't published a source distribution to pypi in a while. See https://github.com/google/textfsm/issues/65

This means that for users with a build chain that depends on so

[2020-05-27 03:32] alepodj commented on #715
Feel kinda funny now, although i did claim it worked, i may have ran the wrong command or something. I come back to it some days later and the issue is back, or still there and i claim it was gone.

[code]

Tried both the pip --upgrade version as well as manually copying the files and templates and no luck. This is were it fails, in the transition line were vlan number is no longer a number but an

[2020-05-27 04:08] FragmentedPacket commented on #648
@ansible75013 Bump. Any update?

[2020-05-27 04:10] FragmentedPacket commented on #666
I'm going to close this, but if you're stuck at a certain point and need help, you can re-open with relevant details (template and raw output).

We're also available on our Slack community in the #networktocode channel for live assistance.

[2020-05-27 04:10] #666 closed

[2020-05-27 04:11] FragmentedPacket commented on #686
@moderatelo I'm going to close this issue as @jmcgill298 has provided sufficient explanation of your issue.

If you need further help, we're available on our public Slack in the #networktocode channel.

[2020-05-27 04:11] #686 closed

[2020-05-27 04:31] FragmentedPacket commented on #726
@alepodj After doing some research, it seems like the OS should be `broadcom_icos`, but let us discuss internally and then I'll get back to you with the final answer.

[2020-05-27 16:09] alepodj commented on #726
Excellent, yeah do your thing :)

Sounds like a good opportunity to add more to the ntc_templates world.

Any info needed i can provide.

[2020-05-27 16:56] alepodj commented on #727
Was able to match my cases with:

[code]

`https://regex101.com/r/57PDLM/1`

[2020-05-27 18:29] FragmentedPacket commented on #726
We're fine with the above: `broadcom_icos` if you want to start adding templates. It will need to be added to `tests/test_index_order.py` and the `os_choices` within that as well for testing purposes.

Please keep the PRs for the templates to a single additional template to help speed up our review process and get each template merged in without others blocking it. More details can be found in our

[2020-05-27 22:22] FragmentedPacket commented on #727
Thanks for looking into it. That does appear to solve your issue, but breaks existing raw data.

[2020-05-28 16:41] alepodj commented on #726
Great, i already started with a show version command to get familiar with the process. Here is what i have so far:

- Added `broadcom_icos` to `os_choices` under `tests/test_index_order.py`
- Created the template and added it under `templates` folder with name `broadcom_icos_show_version.textfsm`
- Modified the index file in the order defined in the instructions, snippet:

[code]

- Created a new

[2020-05-28 19:43] alepodj commented on #726
I had to copy the templates folder manually to: /mnt/c/projects/ntc_templates/ntc-templates/.tox/py36/lib/python3.6/

Tests are going thru now...

[2020-05-28 21:38] alepodj commented on #726
All tests passed. I just do a pull request from https://github.com/alepodj/ntc-templates ???

[tox_test_pass_broadcom_icos_show_version.txt](https://github.com/networktocode/ntc-templates/files/4698381/tox_test_pass_broadcom_icos_show_version.txt)

[2020-05-29 14:15] FragmentedPacket commented on #634
@Lasselasse2 I will go ahead and close this issue. If you need help please join our Slack or re-open this issue with the requested information.

[2020-05-29 14:15] #634 closed

[2020-05-29 14:24] FragmentedPacket commented on #726
@alepodj You should be able to navigate to Pull Requests on this repo and it should show that you can open a PR. If not, do the following:

1. Navigate to Pull Request page on our Github repo.
2. Click the `New Pull Request` button.
3. Pick your fork and branch the changes are on, fill in the information (fixes this issue) and then submit it.
4. We'll review it and merge if no changes need to be m

[2020-05-29 14:26] FragmentedPacket commented on #648
@ansible75013 I'm going to close this issue as no information has been provided, but if you're stuck somewhere, please re-open and update or join our Slack workspace for help.

[2020-05-29 14:26] #648 closed

[2020-05-29 14:28] FragmentedPacket commented on #546
I'm going to close this issue as no information has been provided, but if you're stuck somewhere, please re-open and update or join our Slack workspace for help.

[2020-05-29 14:28] #546 closed

[2020-06-01 01:20] #627 closed

[2020-06-01 23:19] #642 closed

[2020-06-03 20:25] georgesnow opened #737 "Template help for multiple states"
##### ISSUE TYPE
 - Template Creation Help
Looking for some input or direction

##### TEMPLATE USING

[code]

##### SAMPLE COMMAND OUTPUT

[code]

##### SUMMARY
Looking for some assistance on how to create the capture group so the lower FPC,MIC,PIC, XCVR etc...
are lists of lists?
Since there is 4 - Xcvr 0s the output needs to show the relationship to its respective hierarchy.
Example:
Xcvr 0 -> P

[2020-06-04 09:25] conorwu1107 opened #739 "I would like to contribute the PR for adding new cisco_wlc_ssh_show_ap_image_all"
##### ISSUE TYPE
I would like to contribute the PR for adding new cisco_wlc_ssh_show_ap_image_all
but got pr error as below. **Could any admin help me out on this issue?**

ERROR: Permission to networktocode/ntc-templates.git denied to conorwu1107.
fatal: Could not read from remote repository.

Please make sure you have the correct access rights
and the repository exists.

[code]

[2020-06-04 09:39] #739 closed

[2020-06-04 11:25] pgajdos opened #743 "failing testsuite"
Hi,

below is a list of four tests that are failing for me:

[code]

Detailed output for the first one:

[code]
Could you please help me to spot the problem?

[2020-06-04 11:27] pgajdos commented on #743
This is with 1.4.2, os linux.

[2020-06-04 12:43] pgajdos commented on #743
One additional test failing on i586:
[code]

[2020-06-05 00:56] FragmentedPacket commented on #743
Do you mind providing what you're attempting to achieve here?

[2020-06-05 10:28] maurociccone opened #746 "ISSUE with show bgp neighboor template IOS XR"
HI all

I'm trying to use this template:

Value NEIGHBOR (\S+)
Value REMOTE_AS (\d+)
Value LOCAL_AS (\d+)
Value TYPE (\w+)
Value DESCRIPTION (.+?)
Value REMOTE_ROUTER_ID (\S+)
Value CLUSTER_ID (\S+)
Value STATE (.+?)
Value UPTIME (.+?)
Value NSR_STATE (.+?)
Value HOLDTIME (\d+)
Value KEEPALIVE (\d+)
Value NSR (.+?)
Value GR (.+?)
Value List AFI (.+?)
Value List VERSION (\d+)
Value List ROUTE_REFLE

[2020-06-05 13:04] FragmentedPacket commented on #746
Can you provide the raw output from the device and the error your receiving?

[2020-06-05 14:05] jmcgill298 commented on #727
@alepodj the fix is now in master. Thanks for reporting and providing data

[2020-06-05 14:05] #727 closed

[2020-06-05 16:19] FragmentedPacket commented on #737
@georgesnow This one is kind of hard. Maybe you would need to capture them as separate values if you're wanting some kind of relationship with them, but this project is mainly for just parsing the data and keeping that logic outside of the templates.

I think a good way to do it is to just add them as separate values:

[code]

[2020-06-05 16:23] FragmentedPacket commented on #737
I'm going to close this issue as we're looking to move helping with templates, etc. into a real-time platform and use our NTC Slack for help.

You can sign up via https://slack.networktocode.com and ask for help in our #networktocode channel.

[2020-06-05 16:23] #737 closed

[2020-06-05 16:25] FragmentedPacket commented on #743
I'm going to close this issue as we're looking to move helping with templates, etc. into a real-time platform and use our NTC Slack for help.

You can sign up via https://slack.networktocode.com and ask for help in our #networktocode channel.

[2020-06-05 16:25] #743 closed

[2020-06-05 16:26] FragmentedPacket commented on #726
This was implemented on #733 and now the repo has the necessary updates to support further templates.

[2020-06-05 16:26] #726 closed

[2020-06-07 22:57] smfeldman opened #751 "Cisco ASA "show vpn-sessiondb anyconnect" parser doesn't support IPv6 addresses"
##### ISSUE TYPE
 - Bug Report

##### TEMPLATE USING
(This is `templates/cisco_asa_show_vpn-sessiondb_anyconnect.textfsm`.)
[code]

##### SAMPLE COMMAND OUTPUT
[code]

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
It should have correctly parsed the IPv6 addresses.

##### ACTUAL RESULTS
See the error message above.

[2020-06-07 23:41] smfeldman commented on #751
pull request #752

[2020-06-09 23:17] smfeldman commented on #751
PR was merged.

[2020-06-09 23:17] #751 closed

[2020-06-25 15:46] JoeyG1973 opened #764 "arista eos show mac address-table is choking on case sensitivity on line Total Mac Addresses for this criterion: 0"
##### ISSUE TYPE

 - Bug Report

##### TEMPLATE USING

[code]

##### SAMPLE COMMAND OUTPUT

[code]

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

mac address-table is parsed
##### ACTUAL RESULTS

textfsm.parser.TextFSMError: State Error raised. Rule Line: 25. Input Line: Total Mac Addresses for this criterion: 0

[code]

[2020-06-26 00:16] ChiefArcher opened #766 "cisco_nxos_show_ip_bgp_summary.textfsm doesn't account for dual line bgp when output is too wide"
"show ip bgp sum" on nxos.
If you have a long remote-asn (such as a asdot notation or just a big remote-asn), nxos splits it into two lines

Example:
10.5.253.1   4 65001.0
                            123123  123123 123123132  0 0 1w5d  4452
instead of
10.5.253.1 4 65001.0 123123  123123 123123132  0 0 1w5d  4452

in cisco_nxos_show_ip_bgp_summary.textfsm
add
^${BGP_NEIGH}\s+\d+\s+${NEIGH_AS}
^\s+

[2020-06-29 01:15] #764 closed

[2020-07-01 18:56] tom0010 opened #773 "Cisco ASA show vpn-sessiondb invalid and not returning data after ASA SW update"
##### ISSUE TYPE
 - Bug Report
##### TEMPLATE USING

[code]

##### SAMPLE COMMAND OUTPUT

[code]

##### SUMMARY
Template errors out:
`TextFSMError: State Error raised. Rule Line: 53. Input Line: Site-to-Site VPN             :     99 :    3505999 :          99`

Think this is related to a SW update on the ASA and it's now returning different data than it did before.
In general I think the template

[2020-07-03 11:07] FragmentedPacket commented on #766
@ChiefArcher Did the PR above solve all your issues?

[2020-07-03 12:59] ChiefArcher commented on #766
yep.. good to go

[2020-07-03 16:35] #766 closed

[2020-07-07 12:01] alzak-priplata opened #778 "NXSOS SHOW_INVENTORY ALL"
##### ISSUE TYPE
 - Bug Report

##### TEMPLATE USING

[code]

##### SUMMARY

If try parse show inventory all after 8 vars  a get empty names etc... only SN
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

parsing all
##### ACTUAL RESULTS

[code]
AV its OK Serial number

[2020-07-14 11:11] t1hom7as commented on #773
Looks like the SW update also broke `cisco_asa_show_vpn-sessiondb_detail_l2l.textfsm`:

```textfsm.parser.TextFSMError: State Error raised. Rule Line: 96. Input Line: IPsecOverNatT Tunnels: 1```

[2020-07-16 12:48] sroodman opened #779 "TXTFSM will not process template even though Regex checker says line is acceptable for ciena SAOS"
##### ISSUE TYPE

 - Bug Report
 - Template Creation Help

##### TEMPLATE USING
[code]

##### SAMPLE COMMAND OUTPUT
[code]

##### SUMMARY
[code]
Regex checkers on the web say it has no problem.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2020-07-16 12:58] itdependsnetworks commented on #779
As the error indicates you are not accounting for the current line `|    |                               |    |Link State|    |   |Speed/ |MTU |Flow |`

If that is not clear, feel free to join the slack community and the slack channel #networktocode to get better interactive questions answered.

[2020-07-16 12:58] #779 closed

[2020-07-16 18:06] #716 closed

[2020-07-17 16:38] jvanderaa opened #780 "Unable to Parse show version on IOSv Device"
##### ISSUE TYPE

 - Bug Report

##### TEMPLATE USING

[code]

##### SAMPLE COMMAND OUTPUT

[code]

##### SUMMARY

Capture is only catching model numbers that have digits in them. IOSv model does not have a digit.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Expected parsed output
Model number

##### ACTUAL RESULTS

No results for model number

[2020-07-20 12:21] #780 closed

[2020-07-22 04:53] gudgeong commented on #245
I have a similar issue....  Should I just post it here or as a new issue ??

textfsm.parser.TextFSMError: Error: "Could not parse line:". Rule Line: 38. Input Line:     10 permit icmp 23.54.66.128 0.0.0.127 any echo-reply.

[show_ip_access-list.txt](https://github.com/networktocode/ntc-templates/files/4957893/show_ip_access-list.txt)

Sorry not familiar with Git hub and loggin of bugs and issues..

[2020-07-24 06:24] vnitinv opened #782 "version of OS can differ o/p, how to handle such cases"
##### ISSUE TYPE
 - Feature Idea

##### TEMPLATE USING
https://github.com/networktocode/ntc-templates/blob/master/templates/juniper_junos_show_version.textfsm

##### SAMPLE COMMAND OUTPUT

[code]

##### SUMMARY
With every upcoming OS release, o/p may change some tags. Do we option also to provide version?

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2020-07-29 10:58] microsoftdealer opened #784 "cisco_asa_show_running_cryprom_map does not parse crypto maps without "set security association lifetime""
##### ISSUE TYPE
 - Bug Report

##### TEMPLATE USING
cisco_asa_show_running-config_crypto_map.textfsm

##### SAMPLE COMMAND OUTPUT
"""
crypto map WAN1_CMAP 10 match address CMAP_RU16
crypto map WAN1_CMAP 10 set peer 1.1.1.1
crypto map WAN1_CMAP 10 set ikev1 transform-set ESP-AES-256-SHA ESP-AES-192-SHA
crypto map WAN1_CMAP 20 match address CMAP_RU11
crypto map WAN1_CMAP 20 set peer 1.1.1.2
crypto

[2020-07-29 14:19] tom0010 opened #785 "cisco_asa_show_crypto_ipsec_sa.textfsm regex not capturing all data"
##### ISSUE TYPE

 - Bug Report

##### TEMPLATE USING

[code]

##### SAMPLE COMMAND OUTPUT

[code]

##### SUMMARY

With my ASA I have discovered an extra value being presented from the ASA when using `show run crypto map`:
[code]
Offending line:
`      remote ident (addr/mask/prot/port): (10.13.13.13/255.255.255.255/6/0 - 65535)`

Regex doesn't match:
` ^\s+remote\s+ident\s+\(addr/mask/prot/port\)

[2020-07-31 15:14] rara08 opened #786 "Issue with cisco_ios_show_vrf.textfsm template"
@whitej6

##### ISSUE TYPE
 - Bug Report

##### TEMPLATE USING

`
  Value Required NAME (\S+)
  Value DEFAULT_RD ((\d+|\d{1,3}.\d{1,3}.\d{1,3}.\d{1,3}):\d+|<not set>)
  Value PROTOCOLS (\S+)
  Value List INTERFACES (\S+)

  Start
    ^\s+Name\s+Default RD\s+Protocols\s+Interfaces -> Start_record
    # Capture time-stamp if vty line has command time-stamping turned on
    ^Load\s+for\s+
    ^Time\s

[2020-08-07 11:51] network-shark opened #787 "cisco show sip-ua register status"
Hello,

I tried to implement show sip-ua register status on cisco ios xe , but it seems it is to advanced for me.

Can anyone implement this command or at least I need a hint how to implement this.

Output:

[code]

[2020-08-08 04:42] zedz0 opened #788 "cisco nxos show interface status issue when FC ports are present"
##### ISSUE TYPE

 - Bug Report

##### TEMPLATE USING

[code]

##### SAMPLE COMMAND OUTPUT

[code]

##### SUMMARY

Parsing fails when fc ports are present in output

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Parsing without errors. Info about fc ports is desirable, but not mandatory if it is hard to implement.

##### ACTUAL RESULTS

[code]

[2020-08-14 03:26] harinw03 opened #790 "cisco_nxos_show_environment return an empty list"
##### ISSUE TYPE
 - Bug Report

##### TEMPLATE USING

[code]

##### SAMPLE COMMAND OUTPUT

[code]

##### SUMMARY
cisco nxos show environment returns empty[]. Show environment temperature works perfectly.

##### STEPS TO REPRODUCE

[code]

##### ACTUAL RESULTS
[code]

[2020-08-25 19:55] zkiroel commented on #786
hello, are you able to share an image that illustrates how that must work (output sample I mean), please?
my device is c76xx and removing \s+ was not helped with 'show vrf'
Thank you

[2020-08-27 13:09] mjuenema opened #794 "Black 20.b0 breaks tox test"
##### ISSUE TYPE
- Bug Report

##### SUMMARY
[Black 20.b0](https://pypi.org/project/black/#history) was released today and introduces changes that break the ```tox``` tests.

##### STEPS TO REPRODUCE
Execute ```tox```.

##### EXPECTED RESULTS
Running ```tox``` on the master branch should pass.

##### ACTUAL RESULTS
The output of ```black ./ --check --diff``` command shows that it wants to re-forma

[2020-09-09 18:15] jmcgill298 commented on #794
#795

[2020-09-09 18:15] #794 closed

[2020-09-15 01:27] KongNan opened #802 "This is not a data modeling project. So is there any data modeling project can work with this?"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
**(This is not a Feature Idea)**

I know this is not a data modeling project.
So is there any data modeling project can work with this?
Thank you!

Sorry my English is poor

[2020-09-15 01:32] itdependsnetworks commented on #802
You can look at https://github.com/CiscoTestAutomation/genieparser

[2020-09-15 01:32] #802 closed

[2020-09-19 01:32] mweinelt commented on #743
I'm running into the same test failures when running the 1.5.0 test suite.

I'm packaging this package for NixOS in order to get junos_eznc up and running again.

Complete test session over at https://gist.github.com/mweinelt/821f6e16334e48aee6b04282a1165965

[2020-09-22 15:26] jmcgill298 commented on #743
@mweinelt are you using tox to test?

[2020-09-22 15:38] mweinelt commented on #743
No, directly pytest, since we're using a declarative setup, where tox cannot manage the python environment.

[2020-09-22 17:19] jmcgill298 commented on #743
Tox will manage the environment setup for you. The current testing implementation does not work with running pytest locally. Why do you care about the python environment?

[2020-09-22 17:25] mweinelt commented on #743
NixOS is a declaratively defined operating system, it's just the way it is.

I don't see what could be different about the environment to cause such an error. If a library was missing we'd get an ImportError, if a library would have the wrong version this should be fixed by pinning it.

[code]

Looking at the error I don't see what's wrong. The string **is** contained by brackets on every occasion

[2020-09-22 18:21] jmcgill298 commented on #743
The reason has to do with what is getting imported (local vs installed package). It sounds like you are having issues getting your tests to pass because you are running pytest and pytest is picking up these tests. Are you actually developing and testing updates to pyntc?

[2020-09-23 14:55] KongNan commented on #802
I tried that and fount it doesn't support windows. But still a great work. Thank you!

[2020-10-02 12:07] guilhermebferreira commented on #778
Hi @alzak-priplata, are you able to share an output example with the raw data?

[2020-10-07 22:17] centove opened #811 "arista_eos_show_ip_route parse exception"
- Bug Report

##### TEMPLATE USING
[code]

##### SAMPLE COMMAND OUTPUT
[code]

##### SUMMARY
[code]

##### EXPECTED RESULTS
Parsed output.

##### ACTUAL RESULTS
[code]

[2020-10-26 20:13] centove opened #816 "change key names to match ios template"
##### ISSUE TYPE
 - Feature Idea

##### TEMPLATE USING
Value Filldown NAME (\S+)
Value Required SN (\d+)
Value ACTION (\w+)
Value PROTOCOL ([^any][\w+\d+]+)
Value SOURCE (host\s\d+\.\d+\.\d+\.\d+|any|\d+\.\d+\.\d+\.\d+/\d+)
Value PORT_MODIFIER (eq|gt|lt|neq|range)
Value PORT_RANGE ([(\S+\s\S+)]+)
Value DESTINATION (host\s\d+\.\d+\.\d+\.\d+|any|\d+\.\d+\.\d+\.\d+/\d+)
Value MODIFIER (.*)

Start
  ^

[2020-10-27 22:39] foats opened #819 "update nxos show interface to capture discards"
##### ISSUE TYPE

 - Feature Idea

##### TEMPLATE USING

[code]

##### SAMPLE COMMAND OUTPUT

[code]

##### SUMMARY

Current template does not gather input discards or output discards. Those counters do not feed the input error or output error counters.

##### PROPOSED CHANGE
[code]

[2020-10-28 00:52] itdependsnetworks commented on #819
1. On Github Create a Fork (see here: https://guides.github.com/activities/forking/)
2. Make sure you have git installed locally (follow your OS's installation instructions)
3. Clone from your fork, created in previous step
    1. git clone https://github.com/foats/ntc-templates/
4. Create a branch for your repo
    1. `git checkout -b <your_branch>` e.g. `git checkout -b cisco_nxos_show_interface

[2020-10-28 14:49] zhaoxuan2020 commented on #787
test

[2020-10-28 20:38] jmcgill298 commented on #787
@network-shark You can get help with creating templates on our Slack at `networktocode.slack.com` channel #networktocode

[2020-11-18 09:54] tanshaolong opened #825 "Don’t work when parse output of “show fc zone” for Dell s5000"
##### ISSUE TYPE

 - Feature Idea

##### TEMPLATE USING

[code]

##### SAMPLE COMMAND OUTPUT

[code]

##### SUMMARY

I have a requirement to parse output of “show fc zone” for Dell s5000. I create a testfsm file, but it don’t work. Who could please help me? Thanks you.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I expected to get below data format.
[code]

##### ACTUAL RESULTS

I ru

[2020-11-18 15:01] itdependsnetworks commented on #825
@tanshaolong for help on creating templates please ask on the #networktocode channel in our slack community, you can sign up [here](http://slack.networktocode.com/)

Please reference this issue as you did a great job capturing the information.

[2020-11-18 15:01] #825 closed

[2020-11-18 15:08] itdependsnetworks commented on #819
Going to close, let us know on slack is you have any questions.

[2020-11-18 15:08] #819 closed

[2020-11-18 15:09] foats commented on #819
understood, thank you

On Wed, Nov 18, 2020 at 10:08 AM Ken Celenza <notifications@github.com>
wrote:

--
V/R
Joshua A Loatman

[2020-11-18 15:11] itdependsnetworks commented on #816
Mistakes were made... we should have considered this from the start but it was not. That being said we have decided not to pursue these changes as there are many people expecting the current keys and it would be problematic to them.

Apologies.

[2020-11-18 15:11] #816 closed

[2020-11-18 15:12] itdependsnetworks commented on #811
I have updated the comment to better format the output.

[2020-11-19 01:23] tanshaolong commented on #825
I find I can't access the slack channel. Do we have other way to ask the question?

[2020-11-19 02:39] itdependsnetworks commented on #825
try here https://networktocode.herokuapp.com/

[2020-11-19 02:40] tanshaolong commented on #825
@itdependsnetworks :) Thank you very much

[2020-11-19 15:51] johnbiederstedt opened #826 "cisco_ios_show_ip_eigrp_topology not parsing successors with FD/peer advertised distance in the 'via' line"
the cisco_ios_show_ip_eigrp_topology.textfsm template is not capturing successors that have the feasible distance/peer advertised distance numbers in the line.  It's an easy fix by adding a line identical to line #32 "^\s+via\s+${ADV_ROUTER},\s+${OUT_INTERFACE}"  but inserting \s+\(\d+/\d+\) right after ${OUT_INTERFACE} and before the comma right after the right curly bracket.

##### ISSUE TYPE

[2020-11-19 15:51] jmcgill298 commented on #826
@johnbiederstedt can you put in the fix?

[2020-11-25 21:03] wmclendon commented on #534
this is still an issue, and I suspect why there are not many Fortinet textFSM templates published.  I have one for ARP that i am able to use now successfully with Netpalm and netmiko by loading the template manually into the collection with name just 'fortinet' instead of 'fortinet_fortios' that will unfortunately not work in this collection under the current naming scheme.  I'm not familiar with

[2020-11-28 15:56] itdependsnetworks commented on #746
Closing based on lack of response, feel free to re-open/re-create if the data is provided.

[2020-11-28 15:56] #746 closed

[2020-11-28 16:00] itdependsnetworks commented on #778
Closing pending receipt of raw data, feel free to re-open/re-create once that raw data is provided.

[2020-11-28 16:00] #778 closed

[2020-11-28 16:02] itdependsnetworks commented on #784
If you have the fix, feel free to put in a PR.

[2020-11-28 16:06] itdependsnetworks commented on #785
Should be able to change `Value REMOTE_IDENTITY_PORT (\d+)` -> `Value REMOTE_IDENTITY_PORT (\d+|\d+ - \d+)`. Do you mind putting this fix in, as well as adding that data to the tests and submitting a PR?

[2020-11-28 16:08] itdependsnetworks commented on #786
Closing pending receipt of raw data, feel free to re-open/re-create once that raw data is provided.

[2020-11-28 16:08] #786 closed

[2020-11-28 16:08] itdependsnetworks commented on #787
As stated by @jmcgill298 and on the FAQ, help is best real time via slack.

[2020-11-28 16:08] #787 closed

[2020-11-28 16:11] itdependsnetworks commented on #782
There is no way to set version, but there are strategies for this. As per FAQ (documented on our README.md), feel free to reach out on our Slack channel

[2020-11-28 16:11] #782 closed

[2020-11-30 14:08] jkvalk opened #830 "cisco_ios_show_mac-address-table support for pvlans"
##### ISSUE TYPE

 - Bug Report

##### TEMPLATE USING

[code]

##### SAMPLE COMMAND OUTPUT

[code]

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2020-11-30 14:09] #830 closed

[2020-11-30 21:41] jmcgill298 commented on #534
https://github.com/networktocode/ntc-templates/pull/831

[2020-12-01 10:05] diepes commented on #790
@itdependsnetworks i would like to fix this,
 just to make sure im on the right track, "SAMPLE COMMAND OUTPUT" above will be added as "tests/cisco_nxos/show_environments/cisco_nxos_show_environments2.raw" ?

[2020-12-01 15:01] jmcgill298 commented on #790
@diepes it would be *environment* without the "s", but that would be the correct path.

[2020-12-01 20:53] jmcgill298 commented on #534
@wmclendon this should be fixed, and you can look at #831 for what is required for contributing back to this project. If you have any questions, please ask at networktocode.slack.com

[2020-12-01 20:53] #534 closed

[2020-12-02 21:41] centove opened #834 "arista_eos_show_interfaces_status parse failures"
##### ISSUE TYPE
 - Bug Report

##### TEMPLATE USING
arista_eos_show_interfaces_status.textfsm
Value PORT (\S+)
Value NAME (\S.*(?<!\s))
Value STATUS (connected|notconnect|inactive|errdisabled|disabled)
Value VLAN (\S+)
Value DUPLEX (\S+)
Value SPEED (\S+)
Value TYPE (\S+)

Start
  ^${PORT}\s+${NAME}\s+${STATUS}\s+${VLAN}\s+${DUPLEX}\s+${SPEED}\s+${TYPE} -> Record
  ^${PORT}\s+${STATUS}\s+${VLAN}\

[2020-12-02 21:42] centove commented on #834
Potential fix:
diff --git a/lib/ntc_templates/parse.py b/lib/ntc_templates/parse.py
old mode 100644
new mode 100755
diff --git a/templates/arista_eos_show_interfaces_status.textfsm b/templates/arista_eos_show_interfaces_status.textfsm
index cbbcc7b..6a675ca 100644
--- a/templates/arista_eos_show_interfaces_status.textfsm
+++ b/templates/arista_eos_show_interfaces_status.textfsm
@@ -1,10 +1,10 @@

[2020-12-02 21:47] jmcgill298 commented on #834
@centove can you put in a PR to address this?

[2020-12-02 22:02] centove commented on #834
I have no clue how to work git at that level I barely know how to pull
stuff :)

On 12/2/20 4:47 PM, Jacob McGill wrote:

[2020-12-04 00:34] jmcgill298 commented on #834
do you have sample data that you can provide that would show where the current template fails?

[2020-12-04 01:03] jmcgill298 commented on #834
https://github.com/networktocode/ntc-templates/pull/835

[2020-12-04 01:03] #834 closed

[2020-12-05 02:32] diepes commented on #790
@harinw03 what info from the output were you trying to retrieve ?
Proposed fix will give the power supply output.

For the rest it would be better to use more specific commands
e.g.
     show environment fan
     show environment clock
     show environment temperature
     show environemtn "power usage" ???

As far as i can see we can only extract a single table at a time.

[code]

[2020-12-05 03:33] harinw03 commented on #790
@diepes I was looking for below tables "power" and "fan". I was able to use "show environment temperature ".
Does "show environment fan " command output can be parsed in same module ?

Power Supply:
Voltage: 12 Volts
Power                             Actual      Actual        Total
Supply    Model                   Output      Input      Capacity    Status
                                (Watts )

[2020-12-05 05:00] diepes commented on #790
@harinw03  the best is probably to log a new issue for nxos "show environment fan" and "show environment power", with the command and the output, then we can add it.
Looking at the above, we should be able to parse the Fan table, (excluding the "Fan Zone Speed", and "Fan Air Filter"

[2020-12-05 07:53] diepes commented on #826
@johnbiederstedt please add the "show eigrp topology" so we can add it as a test to verify the fix.

[2020-12-05 19:20] diepes commented on #784
@microsoftdealer can you run the asa command showing **all** values (inc. defaults) and show command and output ?

The current output does not seem structured enough to parse with textfsm, and missing defaults will result in a lot of blank's in return table.

[2020-12-05 19:27] microsoftdealer commented on #784
@itdependsnetworks , Yes, the fix is up in my first message. I can put in PR, surely, but firstly I need to test it.
@diepes , hadn't understand you, unfortunately. The output in my report is full, provided with "show run crypto map".

[2020-12-05 19:34] diepes commented on #784
@microsoftdealer is there an "all" option to the command to display hidden/default values ?

e.g. show running-config crypto map all ?

[2020-12-05 19:39] microsoftdealer commented on #784
@diepes , no, ASA doesn't supports this command. I can run "show run all crypto map" which is more verbose, but it will not be executed with textfsm parser of netmiko, cause of the "cisco_asa_show_running-config_crypto_map.textfsm, .*, cisco_asa, sh[[ow]] ru[[nning-config]] cr[[ypto]] m[[ap]]" in index.

[2020-12-05 19:47] microsoftdealer commented on #784
@diepes
`gw-ru13-01/pri/act# show run all crypto map
crypto map WAN1_CMAP 10 match address CMAP_RU16
crypto map WAN1_CMAP 10 set connection-type bidirectional
crypto map WAN1_CMAP 10 set peer 1.1.1.1
crypto map WAN1_CMAP 10 set ikev1 phase1-mode main
crypto map WAN1_CMAP 10 set ikev1 transform-set ESP-AES-256-SHA ESP-AES-192-SHA
crypto map WAN1_CMAP 10 set ikev2 mode tunnel
no crypto map WAN1_CMAP

[2020-12-05 19:49] microsoftdealer commented on #784
@diepes , here is output with 'all'. Anyway, as I told earlier - it's is not usable with current textfsm command mapping in netmiko.

================
gw-ru13-01/pri/act# show run all crypto map
crypto map WAN1_CMAP 10 match address CMAP_RU16
crypto map WAN1_CMAP 10 set connection-type bidirectional
crypto map WAN1_CMAP 10 set peer 1.1.1.1
crypto map WAN1_CMAP 10 set ikev1 phase1-mode main
crypto

[2020-12-06 02:25] diepes commented on #784
@microsoftdealer  the above is parsable.
"cisco asa show running all cryprom map"  added PR #840

Output - please check if it is what is expected.

[code]

[2020-12-06 05:21] diepes commented on #784
@microsoftdealer in your initial message, the "SAMPLE COMMAND OUTPUT"
Has no peer value for this line ?  Was this a copy/paste mistake ?

[2020-12-06 12:25] microsoftdealer commented on #784
@diepes, thnx for the PR. What about sa kilobytes lifetime matcing? For now template support only lifetime in seconds.
Yes, it copy/paste mistake, you're right.

[2020-12-07 11:48] diepes commented on #784
@microsoftdealer can add match for sa kbytes, please provide command +all, and output from asa containing it +sa_kBytes. ( Needed to add tests to prevent future breaking of template)

sa_seconds & sa_kbytes ?

[2020-12-07 11:52] diepes commented on #788
@zedz0 can you confirm if it's fixed now ?

[2020-12-07 16:57] microsoftdealer commented on #784
@diepes, there is no any ASAs with this config in my production. You can replace any of "security-association" lines in previous config with this:

crypto map WAN1_CMAP 100 set security-association lifetime kilobytes 10000000

Also there can be even more complicated thing - seconds OR kilobytes:

crypto map WAN1_CMAP 100 set security-association lifetime seconds 86400 kilobytes 1000000
crypto map

[2020-12-09 11:04] diepes commented on #811
PR #843  -  nexthop ip/int changed to List,  not parsing details in tunnel nexthop, just extracting it.

[2020-12-11 04:57] mzakkar0 opened #844 "Arista_eos: show ip bgp summary Error"
##### ISSUE TYPE

 - Bug Report

##### TEMPLATE USING

from netmiko import ConnectHandler

from operator import itemgetter

from ntc_templates.parse import parse_output

#password = getpass()ex

device_list = open('/Users/817101629/Documents/Python_stuff/python_NW_automation/mylist.yml')

for ip in device_list:

    ip = ip.strip()

    switch = {

        'ip': ip,

        'username': 'admin',

[2020-12-11 21:55] diepes commented on #844
@mzakkar0 please provide output from arista for "show ip bgp summary"

[2020-12-11 23:24] diepes commented on #773
@tom0010 looking at your "SAMPLE COMMAND OUTPUT" there seem to be missing data under "VPN Session Summary", no values for "INACTIVE" column.

[2020-12-28 01:25] #790 closed

[2020-12-31 02:09] mcfone opened #851 "cisco_nxos_show_ip_arp_detail.textfsm fails to parse Age field (Age results are of form 00:14:15 AND 0.732312)"
##### ISSUE TYPE

 - Bug Report

##### TEMPLATE USING

[code]

##### SAMPLE COMMAND OUTPUT

Following command run on a cisco Nexus7000 C7009 L3 switch running NXOS 6.2(20):
sh ip arp detail
(some output elided for brevity)

146.118.64.100  00:14:15  fa16.3eb0.4437  Vlan666          port-channel666
146.118.64.102  00:00:14  fa16.3e20.e36f  Vlan666          port-channel666
146.118.64.103  0.732312

[2021-01-06 10:36] diepes commented on #851
@mcfone please provide the full output for "sh ip arp detail"

then it can be added as an test template to ensure this and future fixes are correct.

e.g. the proposed Value AGE (\d+:\d+:\d+|-) to Value AGE (\S+) fails on the current test as time can also be just a dash.

[2021-01-06 12:15] mcfone commented on #851
From my reading, the pattern "\S+" should match any non-whitespace character, so should match a dash...

I note that the template cisco_nxos_show_ip_arp.textfsm also uses "(\S+)" as the Value for AGE.

Full output of "sh ip arp det" attached.

________________________________
From: Pieter <notifications@github.com>
Sent: 06 January 2021 18:37
To: networktocode/ntc-templates <ntc-templates@noreply.

[2021-01-07 08:30] diepes commented on #851
Thank's @mcfone, added output as new test and did pr #857  to fix template.  Yes you are right \S+ matches, it forgot the "+"

I see the output seem to be cut short ?

I just removed the last line from the test sample.
"146.118.67.207  00:00:47  fa16.3ee"

[2021-01-13 21:37] r1chardnoggin opened #858 "Having trouble with textfsm"
Hello,
I'm new here. I'm a network engineer by trade and I'm trying to get into network automation but I'm a noob on that front, so I'm trying to develop my skillset. I have installed netmiko and textfsm. However when I call on textfsm (net_connect.send_command (show ip interface brief', use_textfsm=True) in my code it fails to use it to parse the output and I just get back unstructured data. I'm

[2021-01-14 03:36] jmcgill298 commented on #858
@r1chardnoggin are you able to follow this example and it work? https://github.com/networktocode/ntc-templates#usage

[code]

[2021-01-14 12:11] r1chardnoggin commented on #858
@jmcgill298 that seems to work. Is this the desired format in order for things to work properly?

[2021-01-14 14:56] jmcgill298 commented on #858
That is not the method that you are trying to use, but that demonstrates that this project is installed and working as expected. You can get help with netmiko at `https://github.com/ktbyers/netmiko/issues/new` or on the #netmiko channel on `networktocode.slack.com`. I would make sure that your environment variables specifies the absolute path, and if that does not work, then follow up with the net

[2021-01-29 04:56] FragmentedPacket commented on #858
@r1chardnoggin Hopefully everything is sorted and working for you. If not, join our Slack that @jmcgill298 posted and join the `#netmiko` or `#networktocode` channel for help!

[2021-01-29 04:56] #858 closed

[2021-02-25 08:40] sakabio opened #866 "cisco_ios_show_interfaces_description.textfsm fails to parse"
##### ISSUE TYPE

 - Bug Report

##### TEMPLATE USING

[code]

##### SAMPLE COMMAND OUTPUT

[code]

##### SUMMARY

Parser does not work when the data is passed to it.

textfsm.parser.TextFSMError: State Error raised. Rule Line: 12. Input Line: show interfaces description

show_int_desc_parsed = parse_output(platform="cisco_ios", command="show interfaces description", data=show_int_desc)

##### STE

[2021-02-26 06:31] sakabio commented on #866
@itdependsnetworks @jmcgill298 can you please help

[2021-02-26 06:53] FragmentedPacket commented on #866
It appears the command is in the output you're providing the parse_output command. What does your merino code look like for this call?

[2021-02-26 07:36] sakabio commented on #866
`
from netmiko import Netmiko
from textfsm import TextFSM
from ntc_templates.parse import parse_output
import getpass

net_connect = Netmiko(host='x.x.x.x', username='username', password=password, device_type='cisco_ios')

show_int_desc = net_connect.send_command_timing("show interfaces description", strip_command=False, strip_prompt=False)

show_int_desc_parsed = parse_output(platform="cisco_ios"

[2021-02-26 12:31] diepes commented on #866
@sakabio, to better debug add print(show_int_desc) before parse_output

my guess is that the command is included in show_int_desc  e.g. "show interface description" and this is tripping up textfsm.

[2021-02-26 13:28] FragmentedPacket commented on #866
You either want to strip command and strip prompt to true or remove them from the output prior via regex or string manipulation

[2021-02-26 16:49] sakabio commented on #866
@FragmentedPacket thanks this worked like a charm.

[2021-02-26 16:49] #866 closed

[2021-02-27 14:05] seanblundy opened #869 "cisco_nxos_show_ip_route errors out on Route Not Found"
##### ISSUE TYPE

 - Bug Report

##### TEMPLATE USING

[code]

##### SAMPLE COMMAND OUTPUT

[code]

##### SUMMARY

TextFSM errors out at the first Route not found block.

##### STEPS TO REPRODUCE

On a Cisco NX-OS device, create multiple vrfs.
In one VRF: Create a route toward a destination.
Perform `show ip route vrf all` toward that destination.

[code]

##### EXPECTED RESULTS

A list of all the

[2021-03-01 09:09] diepes commented on #869
add pull request with additional test and the fix https://github.com/networktocode/ntc-templates/pull/870

[2021-03-01 14:42] progala opened #871 "cisco_wlc_ssh_show_wlan_sum update - make PMIP_MOBILITY optional"
##### ISSUE TYPE

- Template Bug

##### TEMPLATE USING

`cisco_wlc_ssh_show_wlan_sum.textfsm`

[code]

##### SAMPLE COMMAND OUTPUT

[code]

##### SUMMARY

##### STEPS TO REPRODUCE

- Save the above SAMPLE OUTPUT as `cisco_wlc_ssh_show_wlan_sum2.raw`
- Try parsing raw data by running:

[code]

##### EXPECTED RESULTS

Raw output should be parsed into the below yaml:

[code]

##### ACTUAL RESULTS

[c

[2021-03-01 15:01] #871 closed

[2021-03-01 15:01] progala commented on #871
Will reopen with PR attached.

[2021-03-09 05:56] diepes commented on #784
@microsoftdealer if we can get a output from a asa device to use as a test scenario, i will update the template.
the tests are there to prevent regressions as templates change.

[2021-03-09 07:22] narcotico-g opened #878 "cisco_ios_show_interfaces_status.textfsm (no interface in monitoring state)"
Hello,

Interfaces in monitoring state are omitted in the output.

After review the template, it is solved only addiing this state in value status:

`Value PORT (\S+)
Value NAME (.+?)
Value STATUS (err-disabled|disabled|connected|notconnect|inactive|monitoring)
Value VLAN (\S+)
Value DUPLEX (\S+)
Value SPEED (\S+)
Value TYPE (.*)

Start
  ^Port -> Begin
  # Capture time-stamp if vty line has comma

[2021-03-09 08:20] microsoftdealer commented on #784
@diepes, use this sample.

gw-ru13-01/pri/act# show running all crypto map
crypto map WAN1_CMAP 10 match address CMAP_RU16
crypto map WAN1_CMAP 10 set connection-type bidirectional
crypto map WAN1_CMAP 10 set peer 192.0.2.1
crypto map WAN1_CMAP 10 set ikev1 phase1-mode main
crypto map WAN1_CMAP 10 set ikev1 transform-set ESP-AES-256-SHA ESP-AES-192-SHA
crypto map WAN1_CMAP 10 set ikev2 mode tunnel

[2021-03-09 15:48] FragmentedPacket commented on #878
Do you mind opening a PR to fix this issue? Or at least provide the output this is failing on?

[2021-03-09 18:04] #851 closed

[2021-03-10 12:21] diepes commented on #784
@microsoftdealer 2nd PR to parse new example output.
https://github.com/networktocode/ntc-templates/pull/883
Split SA into SA_SEC and SA_KB

Please have a look at the PR https://github.com/networktocode/ntc-templates/pull/883 and the generated parsing for the test.

[2021-03-10 12:33] diepes commented on #869
@seanblundy PR merged.

[2021-03-10 21:54] #869 closed

[2021-03-10 21:55] seanblundy commented on #869
@diepes Thank you very much. :)

[2021-03-11 15:24] microsoftdealer commented on #784
@diepes , looks pretty good!

[2021-03-11 23:08] centove opened #887 "arista_eos_show_interfaces incomplete"
<!---
NOTE: Request for new template and adding data captured in template is not considered.
Please see README for more information.

 - Bug Report
[code]

##### SAMPLE COMMAND OUTPUT
[code]

##### SUMMARY
Lots of data missing

##### STEPS TO REPRODUCE
show interfaces and parse the output, notice that there are many fields not parsed

##### EXPECTED RESULTS
All fields parsed.

##### ACTUAL RESULTS

[2021-03-11 23:10] #887 closed

[2021-03-11 23:10] centove commented on #887
foo

[2021-03-11 23:20] centove opened #888 "arista_eos_show_interfaces not complete"
##### ISSUE TYPE
 - Bug Report
##### TEMPLATE USING

[code]

##### SAMPLE COMMAND OUTPUT

[code]

##### SUMMARY
Various parts of the interface output are not being parsed.

##### STEPS TO REPRODUCE
parse the sample output with the template and look for input packets/input bytes etc.

[code]

##### EXPECTED RESULTS
Fields in the interface output parsed

##### ACTUAL RESULTS
Only fields in the brief

[2021-03-11 23:23] centove commented on #888
I have no idea how to do a pull request, but the following does what I need
[code]

[2021-03-11 23:26] centove commented on #888
the patch above produces the following dict
[{'address': '7483.ef36.bccd',
  'alignment_errors': '0',
  'auto_negotiation': 'off',
  'bandwidth': '100000000 kbit',
  'bia': '',
  'broadcast_address': '255.255.255.255',
  'collisions': '0',
  'crc_errors': '0',
  'deferred': '0',
  'description': 'Transit: GTT (AS3257) {CID:726323} [100000Mbit]',
  'duplex': 'Full',
  'giants': '0',
  'hardware_typ

[2021-03-17 14:11] FragmentedPacket commented on #729
Dependency is taken care of, but need to work on publishing aspect of it now.

There are examples where we can get it to auto publish via poetry and is overall pretty simple and allows us to simplify the release process.

[2021-03-17 15:39] FragmentedPacket commented on #773
Closed via #845

[2021-03-17 15:39] #773 closed

[2021-03-17 15:40] FragmentedPacket commented on #784
Closed via #883

[2021-03-17 15:40] #784 closed

[2021-03-17 15:42] FragmentedPacket commented on #788
Fixed via #839, but not confirmed by user.

[2021-03-17 15:42] #788 closed

[2021-03-17 15:43] FragmentedPacket commented on #811
Fixed via #843, not confirmed by user.

[2021-03-17 15:43] #811 closed

[2021-03-17 15:45] FragmentedPacket commented on #844
@mzakkar0 Please reopen once you're able to provide the offending output.

[2021-03-17 15:45] #844 closed

[2021-03-17 18:08] mickyhale opened #903 "cisco_ios_show_interfaces_switchport.textfsm (Does not parse interfaces after multiline VLAN list is encountered)"
##### ISSUE TYPE

 - Bug Report
##### TEMPLATE USING

[code]
##### SAMPLE COMMAND OUTPUT

[code]
##### SUMMARY

The template stops parsing interfaces after it hits a multiline VLAN list for “Trunking VLANs Enabled”.  It appears that the custom trunk state either isn't necessary or needs to be modified.  I've had success with something like the following...
[code]
##### STEPS TO REPRODUCE

Use the

[2021-03-18 16:23] #729 closed

[2021-03-18 16:23] #731 closed

[2021-03-18 16:26] FragmentedPacket commented on #903
@mickyhale I think your fix is acceptable. Could you submit a PR with the changes and new raw/test files?

[2021-03-20 19:32] bharath-ravindranath opened #908 "arista_eos_show_vlan template does not capture the list of interfaces part of the vlan"
##### ISSUE TYPE

 - Bug Report

##### TEMPLATE USING

[code]

##### SAMPLE COMMAND OUTPUT

[code]

##### SUMMARY

I understand the contributors decided to leave out certain parts of the data. But the list of interfaces part of a vlan seems to be particularly useful.

As seen below the vlan_id and name are captured but not the interfaces part of that vlan.
##### ACTUAL RESULTS

[code]

I can do a

[2021-03-22 22:08] AJatCDW opened #910 "cisco_asa_show_interface does not support Virtual Tunnel Interfaces"
##### ISSUE TYPE

 - Bug Report

##### TEMPLATE USING

cisco_asa_show_interface.textfsm
[code]

##### SAMPLE COMMAND OUTPUT

[code]

##### SUMMARY

I am trying to grab the interface information from a Cisco 5515 ASA. The physical interfaces (Gigabit and Management) seem to work as expected, however this ASA has Virtual Tunnel Interfaces (VTI) configured and the output is quite different from outpu

[2021-03-28 21:13] kgrahamjr commented on #910
Another bug in "cisco_asa_show_interface.textfsm" is that it is missing support for sub-interfaces and the VLAN tag.

TextFSM error message:

    raise TextFSMError('State Error raised. Rule Line: %s. Input Line: %s'
textfsm.parser.TextFSMError: State Error raised. Rule Line: 66. Input Line:     VLAN identifier 11

EXAMPLE OUTPUT:

Interface GigabitEthernet0/3 "TRUNK", is up, line protocol is up

[2021-03-29 21:52] traderose opened #913 "IPinfusuion OCNOS support request"
It would be nice if you can add support for IPinfusuion OCNOS software.

[2021-03-30 13:37] jvanderaa commented on #913
@traderose support should be all set. Just need to have templates submitted. Naming will fall in line with the Netmiko naming. `ipinfusion_ocnos` in the same setup that there is `arista_eos`, `cisco_ios`, and `juniper_junos`.

Looks like there is already a Netmiko driver, so that first part of naming is established.

[2021-03-31 06:34] armartirosyan opened #914 "cisco_ios_show_ip_bgp_neighbors.textfsm returns empty values"
##### ISSUE TYPE

 - Bug Report

##### TEMPLATE USING

[code]

##### SAMPLE COMMAND OUTPUT

[code]

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]
##### ACTUAL RESULTS

`neighbor` and `remote_as` fields are empty.

[code]

[2021-04-01 18:12] jvanderaa opened #916 "Cisco show ip bgp neighbors -> Different key between IOS & NX-OS"
##### ISSUE TYPE

 - Bug Report

##### TEMPLATE USING

[code]

##### SAMPLE COMMAND OUTPUT

IOS
[code]

NXOS
[code]

##### SUMMARY

Comparing NXOS to IOS there are different keys for the remote AS on `show ip bgp neighbors`. IOS has `REMOTE_AS` and NXOS has `ASN`. Ideally this would be the same between platforms to support similar structured data

##### STEPS TO REPRODUCE

1. Look at https://githu

[2021-04-09 18:54] jvanderaa commented on #913
Based on the confidence of the answer and no further response, closing the issue. Feel free to respond and we can reopen if discussion is needed.

[2021-04-09 18:54] #913 closed

[2021-04-09 19:37] RP-11 opened #919 "cisco ios show lldp neighbours details textfsm.parser.TextFSMError: State Error raised. Rule Line: 55. Input Line: Power via MDI:"
##### ISSUE TYPE

 - Bug Report

##### TEMPLATE USING

[code]

##### SAMPLE COMMAND OUTPUT

[code]

##### SUMMARY

parser is braking on line "Power via MDI" and giving this error.
textfsm.parser.TextFSMError: State Error raised. Rule Line: 55. Input Line: Power via MDI:

NOTE.
 I added another line above:
  ^(?:PoE|\s+Power)

And now it is not showing the error
  ^Power\s+via
  ^(?:PoE|\s+Power)
#

[2021-04-12 00:35] itdependsnetworks commented on #919
I think adding `^Power\s+via\s+\S+:` similar to what you have done is the way to address. You will need to create a new test case for this as well if you want to put in a PR to fix the issue.

[2021-04-12 11:02] JosephWong2060 commented on #878
Hi,
here is a cisco c3650 switch output of "show interface status" with "suspended" and "monitoring" status for your test.

Value PORT (\S+)
Value NAME (.+?)
Value STATUS  @(err-disabled|disabled|connected|notconnect|inactive|up|down|monitoring|suspended)
Value VLAN (\S+)
Value DUPLEX (\S+)
Value SPEED (\S+)
Value TYPE (.*)
Value FC_MODE (\S+)

AS01>show interface status

Port      Name

[2021-04-12 11:07] JosephWong2060 commented on #878
Here is an example output of "show interface status" in cisco ios-xe switch (WS-C3650-48FS-L) for your test.

AS01>show interface status

Port      Name               Status       Vlan       Duplex  Speed Type
Gi1/0/1   FW01 Eth1/1        connected    trunk      a-full a-1000 10/100/1000BaseTX
Gi1/0/2   FW01 Eth1/2        connected    trunk      a-full a-1000 10/100/1000BaseTX
Gi1/0/3   FW01 Eth1/

[2021-04-14 00:02] RP-11 commented on #919
Thx. I will try this out. It may take a bit until I can test it.

[2021-04-15 02:37] AdamMason1877 opened #921 "Seeing multiple state errors across multiple commands"
##### ISSUE TYPE

 - Bug Report

##### TEMPLATE USING

**_nxos show ip route_**
[code]

**&**

_**nxos show ip interface brief**_
[code]
##### SAMPLE COMMAND OUTPUT

Can't due to being on a corporate system.

**Issue I run into:**
[code]
[code]
**There currently is no output as it fails to run properly for both commands and breaks script.**

##### SUMMARY

Not sure where the problem exists, it see

[2021-04-15 03:52] itdependsnetworks commented on #921
We are uninterested in your companies data, however, we need data in any condition (with a PR or simply identifying the issue). That may require you to scrub the data so it does not go against your policy or recreate the issue on a device outside of your company. Just looking at the `show ip route`, it seems like entirely different output, so the one line that is shown, is likely just the tip of t

[2021-04-21 10:53] kaspertje100 opened #922 "show int status returns error (seems template error) for particular switch for other switches it does work (iOS)."
##### ISSUE TYPE
 - Bug Report

##### TEMPLATE USING
[code]

##### SAMPLE COMMAND OUTPUT

On Ios version:
[code]

##### SUMMARY
python code:
conn.send_command('sh int status', use_textfsm=True)

##### EXPECTED RESULTS
for other switches same code does work and returns sh int status output.

snippet from int status:
[code]

##### ACTUAL RESULTS
[code]

[2021-04-21 11:11] kaspertje100 commented on #922
Hi,

I actually found the issue. Please add monitoring to STATUS values:
Value STATUS (err-disabled|disabled|connected|notconnect|inactive|up|down|monitoring)

[2021-04-28 16:34] Tes3awy opened #924 "Switches in a StackWise Virtual Domain not parsing show version output correctly"
##### ISSUE TYPE
 - Bug Report

##### TEMPLATE USING
[code]

##### SAMPLE COMMAND OUTPUT
[code]

##### SUMMARY
I have two C9500-48Y4C that are virtually stacked. I provided a sample of this logical switch `show version` output above. The output I get (when I run my Python code) is missing the serial number and the model of the standby switch, YET, it gets its MAC address! (Check Actual Results). I

[2021-04-28 23:34] dmiller3079 opened #925 "cisco_ios_show_version.textfsm fails to match version on special builds"
##### ISSUE TYPE
 - Bug Report

##### TEMPLATE USING
cisco_ios_show_version.textfsm
[code]

##### SAMPLE COMMAND OUTPUT
**Engineering build**
[code]
**Standard build**
[code]

##### SUMMARY
Cisco engineering builds do not include the usual "RELEASE SOFTWARE" as part of the show version output and instead include "CUST-SPECIAL". This prevents the regex from matching on the version.

##### STEPS TO

[2021-04-29 01:27] itdependsnetworks commented on #924
I see the issue, in other versions  https://github.com/networktocode/ntc-templates/blob/6f10c206630ad67086a18ce0718b19f7863db507/tests/cisco_ios/show_version/cisco_ios_show_version1.raw#L82 it was keying off of a table that was in between the outputs of the additional switches. This should patch it, but short on time to put in PR right this second.

[code]

[2021-04-29 01:29] itdependsnetworks commented on #925
Can you give this a try?

`^.*Software\s.+\),\sVersion\s${VERSION},*\s+(RELEASE|CUST-SPECIAL).*`

[2021-04-29 03:24] Tes3awy commented on #924
@itdependsnetworks Thanks a lot for your explanation. I really appreciate it 🙏🏼

[2021-04-29 04:49] itdependsnetworks commented on #924
“The only issue is the output is different”, summarizes parsing in a single sentence

[2021-04-29 14:58] dmiller3079 commented on #925
I tested that against regular release builds and the engineering special builds I have access to and it works.

[2021-05-11 06:22] dmiller3079 commented on #878
Also just ran in to this issue, port status = monitoring, fixed it with the line suggested in the initial post.
"Value STATUS (err-disabled|disabled|connected|notconnect|inactive**|monitoring**)"

[2021-05-14 16:15] matt852 opened #929 "arista_eos_show_lldp_neighbors_detail not including last interface"
##### ISSUE TYPE

 - Bug Report

##### TEMPLATE USING

arista_eos_show_lldp_neighbors_detail.textfsm
[code]

##### SAMPLE COMMAND OUTPUT

[code]

##### SUMMARY

When parsing the output where the last interface in "show lldp neighbors detail" has a neighbor, that interface is omitted in the parsed output.  In the above example, only Ethernet4 is parsed, whereas Management1 is omitted.

##### STEPS

[2021-05-17 14:11] M2theICK opened #932 "cisco_nxos_show_interface_status.textfsm fails to match type with N2K-C2248TP-E-1GE"
##### ISSUE TYPE

 - Bug Report

##### TEMPLATE USING
cisco_nxos_show_interface_status.textfsm

[code]

##### SAMPLE COMMAND OUTPUT
[code]

##### SUMMARY

If there is no Type value the script aborts.

##### STEPS TO REPRODUCE

Use` ssh_con.send_command('show interface status', use_textfsm=True)` with a Cisco N2K-C2248TP-E-1GE connected.

##### EXPECTED RESULTS

That an empty string is returned for

[2021-05-28 14:34] #922 closed

[2021-05-28 19:08] rtrunk opened #936 "cisco_nxos_show_cdp_neighbors_detail 'str' object has no attribute 'seek'."
##### ISSUE TYPE

 - Bug Report

##### TEMPLATE USING

[code]

##### SAMPLE COMMAND OUTPUT

[code]

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

No error
##### ACTUAL RESULTS

'str' object has no attribute 'seek'

[code]

[2021-05-28 19:24] jmcgill298 commented on #936
This project consists mostly of TextFSM templates and a testing methodology to ensure new commits provide the expected output. There is another small section to assist with using CliTable to parse command output into TextTable and convert the TextTable into a list of dictionaries. Using this is documented in the [README.md file](https://github.com/networktocode/ntc-templates#usage)

Whereas you ha

[2021-05-28 19:33] rtrunk commented on #936
I will move to TextFSM

[2021-05-28 19:33] #936 closed

[2021-06-21 17:19] Tes3awy opened #938 "cisco_nxos_show_interface_brief.texfsm and output modifier unexpected result"
##### ISSUE TYPE

 - Bug Report

[code]

##### SAMPLE COMMAND OUTPUT

[code]

##### SUMMARY

I am using Netmiko with TEXTFSM to parse the `down` + `Link not connected` interfaces on a Nexus switch. Basically, this output modifier gets me what I need (`include ^Eth.*down.*Link.not.connected`), but it is not converted into a list of dictionaries as expected. Running the Python script without the out

[2021-06-23 15:14] ksrattani opened #939 "Update Cisco IOS Show Version template to easily parse out RESTARTED lines"
We want to add the following lines to the Cisco IOS Show Version template.
Value RESTARTED (.+)
  ^System\srestarted\sat\s${RESTARTED}$$

##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### TEMPLATE USING

[code]

##### SAMPLE COMMAND OUTPUT

[code]

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2021-06-25 14:14] #939 closed

[2021-06-30 13:31] ryanmerolle opened #946 "Arista EOS add support for more directories"
##### ISSUE TYPE
 - Feature Idea

##### TEMPLATE USING

arista_eos_dir_flash.textfsm

##### SAMPLE COMMAND OUTPUT

##### SUMMARY

Since the `dir` command spits out standard output no matter if it is run with any argument (besides `all-filesystems`), it should not take much to enable this textfsm logic for all the other possible file or directory or interest argument.

Possible dir arguments:
- ale

[2021-06-30 19:27] Tes3awy commented on #938
Any updates?

[2021-07-01 02:56] jvanderaa commented on #938
This can't parse the headers. You should likely be just sending the entire command and do the processing within the Python looking for the list items you are looking for.

[2021-07-01 17:33] Tes3awy commented on #938
Hello @jvanderaa,

I used the same output modifier with `cisco_ios` instead of `cisco_nxos` and it worked and parsed the expected output.

You can try it out:

[code]

**output:**

[code]

[2021-07-02 14:22] jvanderaa commented on #938
What happens if you send the command `show interface brief`? You should get all of the table. Then pull the parsing out of the table.

[2021-07-04 20:59] Tes3awy commented on #938
I mentioned this in the issue. When I send the command without any output modifier, I get the expected output (list[dict]), otherwise, I get plain text output. So, I am wondering why does output modifiers work with _cisco_ios_ but don't work with _cisco_nxos_!

[2021-07-05 09:13] Kennyisnothere opened #948 "pls help with multiple text lines parsing into a LIST"
text as below:
VID Ports
1 UT:Eth-Trunk39(D) Eth-Trunk100(D) 10GE1/0/3(D) 10GE1/0/4(D)
10GE2/0/3(D) 10GE2/0/4(D) GE1/0/1(U) GE1/0/3(U)
GE1/0/5(U) GE1/0/7(U) GE1/0/9(U) GE1/0/11(U)
20 TG:Eth-Trunk1(U) Eth-Trunk2(U) Eth-Trunk3(U) Eth-Trunk4(U)
Eth-Trunk5(U) Eth-Trunk6(U) Eth-Trunk7(U) Eth-Trunk8(U)
Eth-Trunk9(U) Eth-Trunk10(U) Eth-Trunk11(U) Eth-Trunk12(U)

textfsm template as below:
Value VID (\d+)

[2021-07-06 13:21] jvanderaa opened #950 "Normalize `show arp` Templates"
##### ISSUE TYPE

 - Feature Idea

##### TEMPLATE USING

There are 13 different templates that include `show_arp` within the file name. The majority are using `ADDRESS` and `MAC` for keys. We should normalize the remaining to either all be `ADDRESS` and `MAC` or their longer, more explicit form of `IP_ADDRESS` and `MAC_ADDRESS`. This will help to provide normalized templates across vendors.

[2021-07-06 13:24] itdependsnetworks commented on #950
Not completely against it, but would need to figure out transition plan and deprecating policy. It is worth noting the following from faq

What is meant that this is a parsing project, not a data modeling project?

The project intends to parse, meaning post processing is assumed in order to normalize the data. This project does not intend to solve that problem set. This is often noted in keys bein

[2021-07-06 14:42] jvanderaa commented on #938
I don't have a NXOS readily in front of me and have to spend some time to get one spun up. On the NXOS template the start of the parsing is defined on lines 14/15 here: https://github.com/networktocode/ntc-templates/blob/master/ntc_templates/templates/cisco_nxos_show_interface_brief.textfsm#L14

[code]

Since those lines do not show up in the output, then the TextFSM parser does not know where to

[2021-07-06 20:39] Tes3awy commented on #938
Thanks a lot for your elaboration. I really appreciate it 🙏🏻

[2021-07-06 23:55] #938 closed

[2021-07-07 06:09] hmolles opened #951 "Cisco Mac address-table template issue"
##### ISSUE TYPE

 - Bug Report

##### TEMPLATE USING

cisco_ios show Mac address-table
[code]

##### SAMPLE COMMAND OUTPUT

[code]

##### SUMMARY

The Cisco show Mac address-table template appears to fail when there is a line of the Mac address-table that does not have anything in the ports column.

I have verified this on multiple computers running the latest version of the template and it appea

[2021-07-28 22:31] chipn opened #952 "NX-OS show interface transceiver template failure"
##### ISSUE TYPE

 - Bug Report

##### TEMPLATE USING

[code]

##### SAMPLE COMMAND OUTPUT

[code]

##### SUMMARY

NX-OS 7.0(3)I7(8)
Nexus 9000 93180YC-EX

When parsing the above output, TextFSM reports an error:
[code]
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]
##### ACTUAL RESULTS

[code]

[2021-07-30 14:31] nsnelson402 opened #954 "cisco_ios_show_ip_access-lists.textfsm template needs updated to include precedence and tos in *_PORT_MATCH"
##### ISSUE TYPE

 - Bug Report

##### TEMPLATE USING

https://github.com/networktocode/ntc-templates/blob/master/ntc_templates/templates/cisco_ios_show_ip_access-lists.textfsm
[code]

##### SAMPLE COMMAND OUTPUT

[code]

##### SUMMARY

Value SRC_PORT_MATCH (eq|neq|range|lt|gt)
Value DST_PORT_MATCH (eq|neq|range|lt|gt)
needs to be
Value SRC_PORT_MATCH (eq|neq|precedence|range|tos|lt|gt)
Value DST_

[2021-07-30 18:04] nsnelson402 opened #956 "cisco_ios_show_ip_access-lists.textfsm is creating an object for the ACL name when it doesn't need to."
##### ISSUE TYPE

 - Bug Report

##### TEMPLATE USING

cisco_ios_show_ip_access-lists.textfsm
[code]

##### SAMPLE COMMAND OUTPUT

[code]

##### SUMMARY

The output of the template is returning an object for the ACL name which is not needed, as the ACL name is included in every statement object.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]
##### ACTUAL RESULTS

[code]

[2021-07-30 19:30] nsnelson402 commented on #956
I am reneging this issue as if there is an empty ACL it will not show up in the output. Therefore you wouldn't be able to determine there was an ACL using implicit denies.

[2021-07-30 19:30] #956 closed

[2021-08-02 15:39] #954 closed

[2021-08-02 16:33] FragmentedPacket opened #958 "TextFSM 1.1.2 Changes"
It appears TextFSM released an update that may affect some of our templates.

Here is output from the tests being ran with **1.1.2**.

[code]

From initial looks, we're attempting to escape `(` and `)` in a few of the templates that are failing.

##### ISSUE TYPE

 - Bug Report

##### SUMMARY

##### STEPS TO REPRODUCE

Upgrade to TextFSM 1.1.2 and run **tox**.

##### EXPECTED RESULTS

Passing resu

[2021-08-02 16:39] FragmentedPacket opened #959 "Fix Auto Publishing to PyPi"
##### ISSUE TYPE

 - Bug Report

##### SUMMARY

Need to get auto publishing to PyPi working

[2021-08-03 09:14] ubajze commented on #959
@FragmentedPacket I will take this...

[2021-08-03 14:33] Tes3awy commented on #924
Any updates on creating a pull request for this issue?

[2021-08-04 02:03] itdependsnetworks commented on #924
PR in, tests will fail for other reasons, but it should be good.

[2021-08-04 06:51] ubajze commented on #959
@FragmentedPacket The pipeline is fixed, you can close the issue.

[2021-08-04 12:00] #924 closed

[2021-08-04 13:18] #959 closed

[2021-08-05 20:34] matt852 commented on #929
PR was merged.  Closing issue.

[2021-08-05 20:34] #929 closed

[2021-08-17 21:16] nsnelson402 opened #964 "Cisco IOS show ip access-list template is missing ICMP_TYPE of mask-request"
##### ISSUE TYPE

 - Bug Report

##### TEMPLATE USING

[code]

##### SAMPLE COMMAND OUTPUT

[code]

##### SUMMARY

mask-request is not included in the ICMP_TYPE value, causing a parsing error to occur when using the template.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

For the template to return with the lines provided in raw as parsed objects.

##### ACTUAL RESULTS

[code]

[2021-08-26 16:18] joewesch opened #969 "cisco_ios_show_ip_access-lists is not accounting for log tags"
##### ISSUE TYPE

 - Bug Report

##### TEMPLATE USING

[code]

##### SAMPLE COMMAND OUTPUT

[code]

##### SUMMARY

When creating an extended extended ACL you can add many match settings such as `established`, `time-range`, `ttl`, etc. If you want to log as well, log (log-input) **must be the last entry**. Both of these options take a single `WORD` as the log tag. So, if you try and add `establishe

[2021-08-27 17:00] #969 closed, assigned to nobody

[2021-08-30 19:17] mitchell-foxworth opened #972 ""Could not parse line:" error for Standard ACL entries containing 1 match."
##### ISSUE TYPE
 - Bug Report
##### TEMPLATE USING
[code]

##### SAMPLE COMMAND OUTPUT
[code]

##### SUMMARY
Standard ACL entries with "(1 match)" at the end of the string fail to parse.
[code]

##### STEPS TO REPRODUCE

For a file containing the output for a standard ACL from "show ip access-lists" where 1 or more ACL entries contains " (1 match)" at the end of the line, and the file is named "t

[2021-08-30 22:14] #972 closed

[2021-08-31 11:47] muradsabbah opened #976 "error : templates not found"
Hello all,
i have this error when i try to clone
murad2524625@ubuntu:~/netmiko-test$ gh repo clone networktocode/ntc-templates
Cloning into 'ntc-templates'...
warning: templates not found /usr/share/git-core/templates
fatal: Unable to find remote helper for 'https'
exit status 128

##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### TEMPLATE USING

[code]

##### SAMPLE C

[2021-09-03 08:37] Kani999 opened #979 "Error template: cisco_nxos_show_interface_status.textfsm"
## Template for cisco nxos `show interface status` does not work

##### ISSUE TYPE
 - Bug Report

##### TEMPLATE USING
- `cisco_nxos_show_interface_status.textfsm`

[code]

##### SAMPLE COMMAND OUTPUT
[code]

##### INPUT DATA
[code]

##### SUMMARY
Template does not work when ty `type` column is missing

##### STEPS TO REPRODUCE
1. open [http://textfsm.nornir.tech/](http://textfsm.nornir.tech/)
1.

[2021-09-10 15:15] thomasbridge74 opened #986 "show ip bgp summary on Cisco IOS can't cope with extended AS numbers"
##### ISSUE TYPE

show ip bgp summary on Cisco IOS can't cope with extended AS numbers

##### TEMPLATE USING

[code]

##### SAMPLE COMMAND OUTPUT

[code]

##### SUMMARY
This output is using the newer AS type - 64000.2017 in this case.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Get a list with the details of the single BGP session

##### ACTUAL RESULTS
Got a null list

[code]

[2021-09-13 16:52] #986 closed

[2021-09-13 17:10] #979 closed

[2021-09-20 08:41] milos-javornik opened #992 "cisco_nxos_show_ip_bgp.textfsm not parsing correctly"
##### ISSUE TYPE
 - Bug Report
##### TEMPLATE USING
Value STATUS ([acdehiIlrsSx*>])
Value PATH_SELECTION ([acdehiIlrsSx*>| ])
Value ROUTE_SOURCE ([acdehiIlrsSx*> ])
#Value STATUS (.)
#Value PATH_SELECTION (.)
#Value ROUTE_SOURCE (.)
Value Filldown NETWORK (\S{0,18})
#Value Required NEXT_HOP (\S{0,20})
Value NEXT_HOP (\S{0,15})
Value METRIC (\S{0,10})
Value LOCAL_PREF (\S{0,11})
Value WEIGHT (\S{0,

[2021-09-21 14:13] hagleyj opened #993 "Issue with Cisco WLC show exclusionlist"
Existing Template is:
Value MAC (([\da-fA-F]{2}[-:]){5}[\da-fA-F]{2})
Value COMMENT (.*)

Start
  ^Manually\s*Disabled\s*Clients -> ManuallyDisabled
  ^No\s*dynamically
  ^\s*$$
  ^. -> Error

ManuallyDisabled
  ^---
  ^MAC\s+Address\s+Description
  ^${MAC}\s+${COMMENT} -> Record
  ^\s*$$ -> Start

Template should be:

Value MAC (([\da-fA-F]{2}[-:]){5}[\da-fA-F]{2})
Value COMMENT (.*)

Start
  ^Ma

[2021-09-24 11:09] derekavieira opened #996 "cisco-ios, show authentication session not parsing"
##### ISSUE TYPE

 - Bug Report

##### TEMPLATE USING

[code]

##### SAMPLE COMMAND OUTPUT

[code]

##### SUMMARY
it looks like in newer IOS code Cisco has added a line of dashes which is interfering with parsing

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2021-09-24 11:11] derekavieira commented on #996
Value INTERFACE (.+?)
Value MAC (.+?)
Value METHOD (.+?)
Value DOMAIN (.+?)
Value STATUS (.+?)
Value SESSION (\w+?)

Start
  ^Interface\s+MAC Address\s+Method\s+Domain -> Catch
  # Capture time-stamp if vty line has command time-stamping turned on
  ^Load\s+for\s+
  ^Time\s+source\s+is

Catch
  ^-+$$
  ^${INTERFACE}\s+${MAC}\s+${METHOD}\s+${DOMAIN}\s+${STATUS}\s+${SESSION}$$ -> Record
  ^.* -> Sta

[2021-09-24 11:12] derekavieira commented on #996
i had it in the issue, but if you exclude "-" in your show command it gets around the issue

switch#show authentication sessions | ex -
Interface                MAC Address    Method  Domain  Status Fg  Session ID
Tw5/0/11                 xxxx.xxxxx.xxxx mab     DATA    Unauth      9C80190A000019D50E1841B9

[2021-10-12 04:48] Hwongkai opened #999 "cisco_nxos_show_int_breief do not match mgmt and vlan"
### my device's output:
[code]

### template I used:
[code]

my code to analysis the output:
[code]

result is not complete, I can't find mgmt in result.
[code]

[2021-10-13 12:59] mcepl opened #1000 "Mock is actually not needed"
I don't know how it to `poetry.lock`, but it is certainly not needed for this package (there is nothing imported from there).

[2021-10-27 13:51] nelsonfree opened #1009 "FortiOS 6.4 get ha status"
##### ISSUE TYPE

 - Bug Report

##### TEMPLATE USING

[code]

##### SAMPLE COMMAND OUTPUT

[code]

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2021-10-31 08:03] diepes commented on #826
@grubec6006 thanks for the output.

I did a pr to fix order of current test https://github.com/networktocode/ntc-templates/pull/1012/files

And one to add support for the `(RD/FD)` on the via outputs.
Fix: https://github.com/networktocode/ntc-templates/pull/1013
Just have to pass review to be merged.

[2021-11-09 22:43] diepes commented on #1009
@nelsonfree can you provide **the command** you ran on the Fortinet to generate the output and **the raw output** from the device.
We can then use that to add an additional test case.

[2021-11-09 22:45] diepes commented on #996
@derekavieira if you can provide the command assume it is "show authentication sessions"  and the raw output, we can add an additional test and fix the parsing.

[2021-11-10 09:42] nelsonfree commented on #1009
Hi,

# get system ha status

HA Health Status: OK
Model: FortiGate
Mode: HA A-P
Group: 0
Debug: 0
Cluster Uptime: 40 days 19:16:5
Cluster state change time: 2021-10-12 11:24:28
Primary selected using:
    <2021/10/12 11:24:28> FGXXXXXXXXXXXXXX is selected as the primary because it has the largest value of uptime.
    <2021/09/30 14:23:14> FGXXXXXXXXXXXXXX is selected as the primary because it's th

[2021-11-10 09:46] nelsonfree commented on #1009
The above is the result from 6.4

[2021-11-11 12:43] georgealmg opened #1021 "Add "suspended" state compatibility to cisco_ios_show_interfaces_status"
##### ISSUE TYPE

 - Feature Idea: add suspended as a posible value in cisco_ios_show_interfaces_status.

##### TEMPLATE USING

Value PORT (\S+)
Value NAME (.+?)
Value STATUS (err-disabled|disabled|connected|notconnect|inactive|up|down|monitoring)
Value VLAN (\S+)
Value DUPLEX (\S+)
Value SPEED (\S+)
Value TYPE (.*)
Value FC_MODE (\S+)

Start
  ^Load\s+for\s+
  # Capture time-stamp if vty line has

[2021-11-15 17:42] #903 closed

[2021-11-16 16:08] Tes3awy opened #1022 "Cisco XR show platform vs admin show platform"
##### ISSUE TYPE

 - Bug Report

##### TEMPLATE USING

`cisco_xr_admin_show_platform.textfsm`

[code]

##### SAMPLE COMMAND OUTPUT

[code]

##### SUMMARY

There are two commands on Cisco XR to get the platform info; `show platform` and `admin show platform`. The template existing on `ntc-templates` is for `show platform` not `admin show platform` , however; the template name indicates it's for `ad

[2021-11-17 21:30] jvanderaa commented on #1022
Looks like we may need to update both. There may be differences between versions. So we should add to the `admin show version` a second match, similar to the `show mac-address-table` command sets to capture it both. And also create a new show platform.

[2021-11-17 23:54] Niltak opened #1024 "Cisco nxos template (show cdp neighbors detail) broken with c7710"
##### ISSUE TYPE

 - Bug Report

##### TEMPLATE USING

[code]

##### SAMPLE COMMAND OUTPUT

[code]

##### SUMMARY

Template is looking for a line that does not exist and therefore will only find one entry.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

Only one entry is found because the record hits the end of file due to not finding the dashes.

[code]

[2021-11-22 19:57] Entel-operaciones-bch opened #1026 "cisco ios show mac address-table TYPE 3 - TextFSMError"
##### ISSUE TYPE

 - Bug Report

#### TEMPLATE USING

Value DESTINATION_ADDRESS ([0-9a-fA-F]{4}\.[0-9a-fA-F]{4}\.[0-9a-fA-F]{4})
Value TYPE (\S+)
Value VLAN (\S+)
Value List DESTINATION_PORT ([^,\s]+)

Start
  ^Destination\s+Address\s+Address\s+Type\s+VLAN\s+Destination\s+Port -> TYPE1
  ^\s+vlan\s+mac address\s+type\s+learn\s+age\s+ports -> TYPE2
  ^\s+vlan\s+mac address\s+type\s+protocols\s+port

[2021-11-22 20:23] georgealmg opened #1027 "cisco_nxos show ip interface - TextFSMError"
##### ISSUE TYPE

 - Feature Idea

##### TEMPLATE USING

Value Filldown VRF_NAME (\S+)
Value Required INTERFACE (\S+)
Value PROTOCOL_STATUS (\w+)
Value LINK_STATUS (\w+)
Value ADMIN_STATUS (\w+)
Value PRIMARY_IP_ADDRESS (\S+)
Value PRIMARY_IP_SUBNET (\S+)
Value PRIMARY_BROADCAST_ADDRESS (\S+)
Value List SECONDARY_IP_ADDRESS (\S+)
Value List SECONDARY_IP_SUBNET (\S+)
Value MULTICAST_GROUPS (224\..*